<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Front Awareness</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
		<script src="https://hypothes.is/embed.js" async></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Front Awareness</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/b90805b2-7a2c-47e2-86a7-b2d5d1dd95a6.png" alt="Front Awareness" usemap="#b90805b2-7a2c-47e2-86a7-b2d5d1dd95a6map"/>
			   <map name="b90805b2-7a2c-47e2-86a7-b2d5d1dd95a6map">
				  		<area shape="rect" coords="514,293,634,348" href="../elements/id-b8e8f632a42045a48e8532528009eb22.html"  target="element">
				  				<area shape="rect" coords="637,445,757,500" href="../elements/id-1da012b5833f42409e2e1acbc685e9ea.html"  target="element">
				  				<area shape="rect" coords="489,445,609,500" href="../elements/id-1f0e068aeed442348984b2923d1b44d7.html"  target="element">
				  				<area shape="rect" coords="352,445,472,500" href="../elements/id-4814662463624e7ebfb8512566d20efd.html"  target="element">
				  				<area shape="rect" coords="215,445,335,500" href="../elements/id-cb63941b7e0549589bed9c009d450c42.html"  target="element">
				  				<area shape="rect" coords="87,445,207,500" href="../elements/id-a5fd7e561ad84a99a7ba52909a9128c7.html"  target="element">

				  		<area shape="rect" coords="67,404,812,513" href="../elements/id-60cb32e0e5b34484a9baff5c0eac81d0.html"  target="element">
				  						<area shape="rect" coords="653,160,715,208" href="../elements/id-bf6f552e39dc4eac88d92f4c3a66c470.html"  target="element">
				  								<area shape="rect" coords="739,159,831,199" href="../elements/id-5ac1d13cd4a44825a8ca51aea47be166.html"  target="element">
				  								<area shape="rect" coords="745,89,825,126" href="../elements/id-61b6bb9801ae403494537a0574c6a9d1.html"  target="element">

				  						<area shape="rect" coords="721,81,896,208" href="../elements/id-b962c1bcdd4a4f15972fafd3cb93ce9c.html"  target="element">
				  								<area shape="rect" coords="831,49,899,89" href="../elements/id-0f1814a44a0e4fa292dd17fc299f8c95.html"  target="element">
				  								<area shape="rect" coords="680,49,748,89" href="../elements/id-1589c9cbbaf74b26b0692a15f007f87a.html"  target="element">

				  						<area shape="rect" coords="653,41,909,140" href="../elements/id-8a47519445b0482886f176887be73553.html"  target="element">

				  				<area shape="rect" coords="621,13,913,219" href="../elements/id-31957b172a3548db9407826cfa7eff0f.html"  target="element">
				  						<area shape="rect" coords="522,39,600,94" href="../elements/id-e1df6c3a95704a39a1f66db13450d7be.html"  target="element">
				  						<area shape="rect" coords="522,155,600,206" href="../elements/id-589f6fc90b424053ae8979c829f09e36.html"  target="element">

				  				<area shape="rect" coords="499,13,615,219" href="../elements/id-142242885887463d8162640a28dc4ecd.html"  target="element">
				  								<area shape="rect" coords="379,62,459,115" href="../elements/id-f06407d9811042a680ed3b3d6e5f7718.html"  target="element">
				  								<area shape="rect" coords="371,139,451,192" href="../elements/id-5520536adf77434eaeac7fe87b41996b.html"  target="element">

				  						<area shape="rect" coords="349,35,467,201" href="../elements/id-37821a2aeecb4dea8dde473dc54af6df.html"  target="element">
				  						<area shape="rect" coords="116,54,236,109" href="../elements/id-bcf278173d6b448d867d013282b53bd4.html"  target="element">
				  						<area shape="rect" coords="258,126,340,181" href="../elements/id-ee01e0a065c445e38b6ef12e09e97f0a.html"  target="element">
				  						<area shape="rect" coords="35,126,155,181" href="../elements/id-ff927aecc92544da97dad2201ae677a4.html"  target="element">

				  				<area shape="rect" coords="15,13,492,219" href="../elements/id-eba66175265d45a1b46c109747a2bdc6.html"  target="element">

				  		<area shape="rect" coords="10,10,1149,236" href="../elements/id-0db7649f3a384ef3a17926c1d36d8b5f.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td> must replace icons </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap">no</xmp> </td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-0db7649f3a384ef3a17926c1d36d8b5f.html" target="element"> Body Horisontal Face Down </a> </td>
											    <td> <a href="../elements/id-0db7649f3a384ef3a17926c1d36d8b5f.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-eba66175265d45a1b46c109747a2bdc6.html" target="element"> Legs </a> </td>
													    <td> <a href="../elements/id-eba66175265d45a1b46c109747a2bdc6.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-ff927aecc92544da97dad2201ae677a4.html" target="element"> Feet </a> </td>
															    <td> <a href="../elements/id-ff927aecc92544da97dad2201ae677a4.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-ee01e0a065c445e38b6ef12e09e97f0a.html" target="element"> Knees </a> </td>
															    <td> <a href="../elements/id-ee01e0a065c445e38b6ef12e09e97f0a.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-bcf278173d6b448d867d013282b53bd4.html" target="element"> Heels </a> </td>
															    <td> <a href="../elements/id-bcf278173d6b448d867d013282b53bd4.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-37821a2aeecb4dea8dde473dc54af6df.html" target="element"> Hips </a> </td>
															    <td> <a href="../elements/id-37821a2aeecb4dea8dde473dc54af6df.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/id-5520536adf77434eaeac7fe87b41996b.html" target="element"> Hips Flexors </a> </td>
																	    <td> <a href="../elements/id-5520536adf77434eaeac7fe87b41996b.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-f06407d9811042a680ed3b3d6e5f7718.html" target="element"> Hips Extendors </a> </td>
																	    <td> <a href="../elements/id-f06407d9811042a680ed3b3d6e5f7718.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
																	</tr>

															
													
													<tr>
													    <td> <a href="../elements/id-142242885887463d8162640a28dc4ecd.html" target="element"> Pelvis </a> </td>
													    <td> <a href="../elements/id-142242885887463d8162640a28dc4ecd.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-589f6fc90b424053ae8979c829f09e36.html" target="element"> Pubic Bone </a> </td>
															    <td> <a href="../elements/id-589f6fc90b424053ae8979c829f09e36.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-e1df6c3a95704a39a1f66db13450d7be.html" target="element"> Glutes </a> </td>
															    <td> <a href="../elements/id-e1df6c3a95704a39a1f66db13450d7be.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-31957b172a3548db9407826cfa7eff0f.html" target="element"> Trunk </a> </td>
													    <td> <a href="../elements/id-31957b172a3548db9407826cfa7eff0f.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-8a47519445b0482886f176887be73553.html" target="element"> Back </a> </td>
															    <td> <a href="../elements/id-8a47519445b0482886f176887be73553.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/id-1589c9cbbaf74b26b0692a15f007f87a.html" target="element"> Lower Back </a> </td>
																	    <td> <a href="../elements/id-1589c9cbbaf74b26b0692a15f007f87a.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-0f1814a44a0e4fa292dd17fc299f8c95.html" target="element"> Upper Back </a> </td>
																	    <td> <a href="../elements/id-0f1814a44a0e4fa292dd17fc299f8c95.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
																	</tr>

															
															<tr>
															    <td> <a href="../elements/id-b962c1bcdd4a4f15972fafd3cb93ce9c.html" target="element"> Rib Cage </a> </td>
															    <td> <a href="../elements/id-b962c1bcdd4a4f15972fafd3cb93ce9c.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/id-61b6bb9801ae403494537a0574c6a9d1.html" target="element"> Ribs Mid Back </a> </td>
																	    <td> <a href="../elements/id-61b6bb9801ae403494537a0574c6a9d1.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-5ac1d13cd4a44825a8ca51aea47be166.html" target="element"> Ribs Front Bottom </a> </td>
																	    <td> <a href="../elements/id-5ac1d13cd4a44825a8ca51aea47be166.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
																	</tr>

															
															<tr>
															    <td> <a href="../elements/id-bf6f552e39dc4eac88d92f4c3a66c470.html" target="element"> Abdominal </a> </td>
															    <td> <a href="../elements/id-bf6f552e39dc4eac88d92f4c3a66c470.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-60cb32e0e5b34484a9baff5c0eac81d0.html" target="element"> Front Body Postural Awareness </a> </td>
											    <td> <a href="../elements/id-60cb32e0e5b34484a9baff5c0eac81d0.html" target="element" class="i18n-elementtype-TechnologyProcess"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-a5fd7e561ad84a99a7ba52909a9128c7.html" target="element"> Lay on Belly </a> </td>
													    <td> <a href="../elements/id-a5fd7e561ad84a99a7ba52909a9128c7.html" target="element" class="i18n-elementtype-TechnologyProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-cb63941b7e0549589bed9c009d450c42.html" target="element"> Arms to sides </a> </td>
													    <td> <a href="../elements/id-cb63941b7e0549589bed9c009d450c42.html" target="element" class="i18n-elementtype-TechnologyProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-4814662463624e7ebfb8512566d20efd.html" target="element"> Connect with Floor </a> </td>
													    <td> <a href="../elements/id-4814662463624e7ebfb8512566d20efd.html" target="element" class="i18n-elementtype-TechnologyProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1f0e068aeed442348984b2923d1b44d7.html" target="element"> Intension of Lifting Head </a> </td>
													    <td> <a href="../elements/id-1f0e068aeed442348984b2923d1b44d7.html" target="element" class="i18n-elementtype-TechnologyProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1da012b5833f42409e2e1acbc685e9ea.html" target="element"> Intentsion of Lifting Legs </a> </td>
													    <td> <a href="../elements/id-1da012b5833f42409e2e1acbc685e9ea.html" target="element" class="i18n-elementtype-TechnologyProcess"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-b8e8f632a42045a48e8532528009eb22.html" target="element"> Front Anchors </a> </td>
											    <td> <a href="../elements/id-b8e8f632a42045a48e8532528009eb22.html" target="element" class="i18n-elementtype-Artifact"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-5a97761f52ef45a7893be4db7a7ac186.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5a97761f52ef45a7893be4db7a7ac186.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-0db7649f3a384ef3a17926c1d36d8b5f.html" target="element"> Body Horisontal Face Down </a> </td>
																		<td> <a href="../elements/id-eba66175265d45a1b46c109747a2bdc6.html" target="element"> Legs </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d1cbf30f69a74e8ebe6bd56f9aa97ef3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d1cbf30f69a74e8ebe6bd56f9aa97ef3.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-0db7649f3a384ef3a17926c1d36d8b5f.html" target="element"> Body Horisontal Face Down </a> </td>
																		<td> <a href="../elements/id-142242885887463d8162640a28dc4ecd.html" target="element"> Pelvis </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0b116b65f9394225ac9e07cf5e6eef25.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0b116b65f9394225ac9e07cf5e6eef25.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-0db7649f3a384ef3a17926c1d36d8b5f.html" target="element"> Body Horisontal Face Down </a> </td>
																		<td> <a href="../elements/id-31957b172a3548db9407826cfa7eff0f.html" target="element"> Trunk </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-f7ce0a09871c4b45a3ebd61fbe502594.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f7ce0a09871c4b45a3ebd61fbe502594.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/id-eba66175265d45a1b46c109747a2bdc6.html" target="element"> Legs </a> </td>
																				<td> <a href="../elements/id-bcf278173d6b448d867d013282b53bd4.html" target="element"> Heels </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-79d80168eaf74b9dac7de53a3b14d18f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-79d80168eaf74b9dac7de53a3b14d18f.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/id-eba66175265d45a1b46c109747a2bdc6.html" target="element"> Legs </a> </td>
																				<td> <a href="../elements/id-ee01e0a065c445e38b6ef12e09e97f0a.html" target="element"> Knees </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-1c50f1ca87a04cfb8447c27158a356af.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-1c50f1ca87a04cfb8447c27158a356af.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/id-eba66175265d45a1b46c109747a2bdc6.html" target="element"> Legs </a> </td>
																				<td> <a href="../elements/id-37821a2aeecb4dea8dde473dc54af6df.html" target="element"> Hips </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-a3255c1e6b584c3e8525e42f0499aa12.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a3255c1e6b584c3e8525e42f0499aa12.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/id-eba66175265d45a1b46c109747a2bdc6.html" target="element"> Legs </a> </td>
																				<td> <a href="../elements/id-ff927aecc92544da97dad2201ae677a4.html" target="element"> Feet </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/id-e1a599dc859c4cba9d109e6cf63eff4d.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-e1a599dc859c4cba9d109e6cf63eff4d.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																						<td> <a href="../elements/id-37821a2aeecb4dea8dde473dc54af6df.html" target="element"> Hips </a> </td>
																						<td> <a href="../elements/id-f06407d9811042a680ed3b3d6e5f7718.html" target="element"> Hips Extendors </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-b5d62dc513574b398567a9d01eca79e8.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-b5d62dc513574b398567a9d01eca79e8.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																						<td> <a href="../elements/id-37821a2aeecb4dea8dde473dc54af6df.html" target="element"> Hips </a> </td>
																						<td> <a href="../elements/id-5520536adf77434eaeac7fe87b41996b.html" target="element"> Hips Flexors </a> </td>
																					</tr>

															
													
																			<tr>
																				<td> <a href="../elements/id-8196cc78f41745ae8174a671e15809ee.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-8196cc78f41745ae8174a671e15809ee.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/id-142242885887463d8162640a28dc4ecd.html" target="element"> Pelvis </a> </td>
																				<td> <a href="../elements/id-589f6fc90b424053ae8979c829f09e36.html" target="element"> Pubic Bone </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-637c60a401c44777971d3e069130379b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-637c60a401c44777971d3e069130379b.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/id-142242885887463d8162640a28dc4ecd.html" target="element"> Pelvis </a> </td>
																				<td> <a href="../elements/id-e1df6c3a95704a39a1f66db13450d7be.html" target="element"> Glutes </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/id-c8f43296ddef4ae79165f0f55d421761.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-c8f43296ddef4ae79165f0f55d421761.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																						<td> <a href="../elements/id-589f6fc90b424053ae8979c829f09e36.html" target="element"> Pubic Bone </a> </td>
																						<td> <a href="../elements/id-b8e8f632a42045a48e8532528009eb22.html" target="element"> Front Anchors </a> </td>
																					</tr>

													
																			<tr>
																				<td> <a href="../elements/id-41b5441f1fce4d9ca676c4a8d6707b32.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-41b5441f1fce4d9ca676c4a8d6707b32.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/id-31957b172a3548db9407826cfa7eff0f.html" target="element"> Trunk </a> </td>
																				<td> <a href="../elements/id-bf6f552e39dc4eac88d92f4c3a66c470.html" target="element"> Abdominal </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-82539ffe879f46b5bae717d706154ca9.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-82539ffe879f46b5bae717d706154ca9.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/id-31957b172a3548db9407826cfa7eff0f.html" target="element"> Trunk </a> </td>
																				<td> <a href="../elements/id-8a47519445b0482886f176887be73553.html" target="element"> Back </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-2a4221247b7b403e917e39ae0663236f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2a4221247b7b403e917e39ae0663236f.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/id-31957b172a3548db9407826cfa7eff0f.html" target="element"> Trunk </a> </td>
																				<td> <a href="../elements/id-b962c1bcdd4a4f15972fafd3cb93ce9c.html" target="element"> Rib Cage </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/id-88a230167b1c4362980cf746f1d998cb.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-88a230167b1c4362980cf746f1d998cb.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																						<td> <a href="../elements/id-8a47519445b0482886f176887be73553.html" target="element"> Back </a> </td>
																						<td> <a href="../elements/id-1589c9cbbaf74b26b0692a15f007f87a.html" target="element"> Lower Back </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-f2d25e2098194001bb37e82fbdea7639.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-f2d25e2098194001bb37e82fbdea7639.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																						<td> <a href="../elements/id-8a47519445b0482886f176887be73553.html" target="element"> Back </a> </td>
																						<td> <a href="../elements/id-0f1814a44a0e4fa292dd17fc299f8c95.html" target="element"> Upper Back </a> </td>
																					</tr>

															
																					<tr>
																						<td> <a href="../elements/id-74da1b4aca914bb6bf24176c19014199.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-74da1b4aca914bb6bf24176c19014199.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																						<td> <a href="../elements/id-b962c1bcdd4a4f15972fafd3cb93ce9c.html" target="element"> Rib Cage </a> </td>
																						<td> <a href="../elements/id-61b6bb9801ae403494537a0574c6a9d1.html" target="element"> Ribs Mid Back </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-c06986493e474a5bb858c00bb4277002.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-c06986493e474a5bb858c00bb4277002.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																						<td> <a href="../elements/id-b962c1bcdd4a4f15972fafd3cb93ce9c.html" target="element"> Rib Cage </a> </td>
																						<td> <a href="../elements/id-5ac1d13cd4a44825a8ca51aea47be166.html" target="element"> Ribs Front Bottom </a> </td>
																					</tr>

																							<tr>
																								<td> <a href="../elements/id-bb4662866dca4ed2a98fa9dc74d56f4a.html" target="element">  </a> </td>
																								<td> <a href="../elements/id-bb4662866dca4ed2a98fa9dc74d56f4a.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																								<td> <a href="../elements/id-5ac1d13cd4a44825a8ca51aea47be166.html" target="element"> Ribs Front Bottom </a> </td>
																								<td> <a href="../elements/id-b8e8f632a42045a48e8532528009eb22.html" target="element"> Front Anchors </a> </td>
																							</tr>

															
													
											
																	<tr>
																		<td> <a href="../elements/id-d6ccdc1811ab4b95851dc01f984db1fc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d6ccdc1811ab4b95851dc01f984db1fc.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-60cb32e0e5b34484a9baff5c0eac81d0.html" target="element"> Front Body Postural Awareness </a> </td>
																		<td> <a href="../elements/id-a5fd7e561ad84a99a7ba52909a9128c7.html" target="element"> Lay on Belly </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-89fe7ec73edd4f50a5d5dd75208ea2e7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-89fe7ec73edd4f50a5d5dd75208ea2e7.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-60cb32e0e5b34484a9baff5c0eac81d0.html" target="element"> Front Body Postural Awareness </a> </td>
																		<td> <a href="../elements/id-cb63941b7e0549589bed9c009d450c42.html" target="element"> Arms to sides </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-07c4224885b5488194682e9ecb1015d2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-07c4224885b5488194682e9ecb1015d2.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-60cb32e0e5b34484a9baff5c0eac81d0.html" target="element"> Front Body Postural Awareness </a> </td>
																		<td> <a href="../elements/id-4814662463624e7ebfb8512566d20efd.html" target="element"> Connect with Floor </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-607a946778d14eca91d031e4eb35daa6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-607a946778d14eca91d031e4eb35daa6.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-60cb32e0e5b34484a9baff5c0eac81d0.html" target="element"> Front Body Postural Awareness </a> </td>
																		<td> <a href="../elements/id-1f0e068aeed442348984b2923d1b44d7.html" target="element"> Intension of Lifting Head </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-795f43a5d2f34d9c9c3ad663c1bb55b3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-795f43a5d2f34d9c9c3ad663c1bb55b3.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-60cb32e0e5b34484a9baff5c0eac81d0.html" target="element"> Front Body Postural Awareness </a> </td>
																		<td> <a href="../elements/id-1da012b5833f42409e2e1acbc685e9ea.html" target="element"> Intentsion of Lifting Legs </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-7ecc75bcecfb44e496ec8463f00ac4a0.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7ecc75bcecfb44e496ec8463f00ac4a0.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/id-4814662463624e7ebfb8512566d20efd.html" target="element"> Connect with Floor </a> </td>
																				<td> <a href="../elements/id-b8e8f632a42045a48e8532528009eb22.html" target="element"> Front Anchors </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>