<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>2 Lesson - Bridge</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>2 Lesson - Bridge</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/c14cadeb-c7f3-462e-aa9d-1a3e66872563.png" alt="2 Lesson - Bridge" usemap="#c14cadeb-c7f3-462e-aa9d-1a3e66872563map"/>
			   <map name="c14cadeb-c7f3-462e-aa9d-1a3e66872563map">
				  		<area shape="rect" coords="721,250,841,305" href="../elements/9cb8054e-1b14-4800-8af1-cac3c92697b5.html"  target="element">
				  				<area shape="rect" coords="1032,378,1152,433" href="../elements/c7b2639c-7113-4222-99fb-1b280c7177f6.html"  target="element">
				  				<area shape="rect" coords="610,378,730,433" href="../elements/716dee70-0032-4a49-8a39-0203f0af828f.html"  target="element">
				  				<area shape="rect" coords="321,378,441,433" href="../elements/a0c2a2b3-b9e9-4771-b7ae-31361d5071a3.html"  target="element">
				  				<area shape="rect" coords="176,378,294,433" href="../elements/0a9f3747-d383-4449-b049-3c953f027baa.html"  target="element">
				  				<area shape="rect" coords="35,378,155,433" href="../elements/0f886988-6fe0-4d84-b6cb-183a8259e65f.html"  target="element">
				  				<area shape="rect" coords="885,378,1005,433" href="../elements/fef6b10a-bf1a-4a34-83b4-647d11fd0d1d.html"  target="element">
				  				<area shape="rect" coords="465,378,585,433" href="../elements/1563d08a-c299-4ae5-a9e2-b8fba4146c15.html"  target="element">
				  				<area shape="rect" coords="1083,453,1203,508" href="../elements/42e7c87a-0d62-4ca0-8161-6960d9217b3c.html"  target="element">
				  				<area shape="rect" coords="751,378,871,433" href="../elements/6f9a8493-284c-42ec-8e10-f5a1d824957c.html"  target="element">

				  		<area shape="rect" coords="23,332,1211,527" href="../elements/63377dfa-cec3-4cd9-812d-99ef0d752306.html"  target="element">
				  								<area shape="rect" coords="361,56,481,82" href="../views/83f0d3c5-5039-4158-a1d7-538321c3beeb.html"  target="view">
				  						    <!-- Other diagram objects -->
				  								<area shape="rect" coords="379,156,475,211" href="../elements/4ec2a060-4a35-4fd1-8c91-ef738738af92.html"  target="element">
				  								<area shape="rect" coords="379,81,475,136" href="../elements/0b6003e7-7807-44a0-8fff-e0e814871f45.html"  target="element">

				  						<area shape="rect" coords="361,55,482,230" href="../elements/541416a6-0040-43f2-b441-edc7db560808.html"  target="element">
				  						<area shape="rect" coords="26,153,111,208" href="../elements/16fa54a0-5bda-4ba6-b5a7-93ef9f54955e.html"  target="element">
				  						<area shape="rect" coords="138,153,258,208" href="../elements/a709ddf8-9a66-42f4-94b9-b3f859893176.html"  target="element">
				  						<area shape="rect" coords="277,85,362,140" href="../elements/3df04dba-6884-439a-af46-623b56827831.html"  target="element">

				  				<area shape="rect" coords="15,27,499,238" href="../elements/6cf1092a-bd1d-440f-9608-01935679dcc3.html"  target="element">
				  						<area shape="rect" coords="535,159,614,214" href="../elements/b68bf768-5e64-4888-9940-81ba6de49040.html"  target="element">
				  						<area shape="rect" coords="535,53,614,102" href="../elements/90a5cb8b-736e-4de2-8c06-434b823fbf6a.html"  target="element">

				  				<area shape="rect" coords="511,27,621,238" href="../elements/920ad69c-a8d2-4658-b5e7-b2e6c8c21ef7.html"  target="element">
				  						<area shape="rect" coords="647,41,722,89" href="../elements/94b579b2-6736-4b7a-b25c-991a45d2cfeb.html"  target="element">
				  								<area shape="rect" coords="742,144,834,184" href="../elements/28aba381-b05c-4d53-8586-1ff686dd5cdd.html"  target="element">
				  								<area shape="rect" coords="739,50,836,98" href="../elements/0d06a4c3-4fe6-494b-82a8-64a51e564dd2.html"  target="element">

				  						<area shape="rect" coords="729,41,911,189" href="../elements/106023ec-6b6b-4626-a566-f594a3d655a3.html"  target="element">
				  								<area shape="rect" coords="831,173,907,214" href="../elements/0a96d6d2-8769-446b-a5cf-3c1968744ad4.html"  target="element">
				  								<area shape="rect" coords="652,162,725,203" href="../elements/1c1a9b9f-f416-408f-9b02-1bdb62a387b0.html"  target="element">

				  						<area shape="rect" coords="642,133,911,218" href="../elements/2953363b-01e4-43d7-8f23-aa8847e621cb.html"  target="element">

				  				<area shape="rect" coords="631,27,916,238" href="../elements/829aba63-fe17-4855-8c13-c5addd206e3b.html"  target="element">

				  		<area shape="rect" coords="10,10,1148,260" href="../elements/b45a4fe2-1b4c-4ba3-9a03-39a0fecfc2ed.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td> must replace icons </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap">no</xmp> </td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/b45a4fe2-1b4c-4ba3-9a03-39a0fecfc2ed.html" target="element"> Body Horisontal Face Up </a> </td>
											    <td> <a href="../elements/b45a4fe2-1b4c-4ba3-9a03-39a0fecfc2ed.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/829aba63-fe17-4855-8c13-c5addd206e3b.html" target="element"> Trunk </a> </td>
													    <td> <a href="../elements/829aba63-fe17-4855-8c13-c5addd206e3b.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/2953363b-01e4-43d7-8f23-aa8847e621cb.html" target="element"> Back </a> </td>
															    <td> <a href="../elements/2953363b-01e4-43d7-8f23-aa8847e621cb.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/1c1a9b9f-f416-408f-9b02-1bdb62a387b0.html" target="element"> Lower Back </a> </td>
																	    <td> <a href="../elements/1c1a9b9f-f416-408f-9b02-1bdb62a387b0.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/0a96d6d2-8769-446b-a5cf-3c1968744ad4.html" target="element"> Upper Back </a> </td>
																	    <td> <a href="../elements/0a96d6d2-8769-446b-a5cf-3c1968744ad4.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
																	</tr>

															
															<tr>
															    <td> <a href="../elements/106023ec-6b6b-4626-a566-f594a3d655a3.html" target="element"> Rib Cage </a> </td>
															    <td> <a href="../elements/106023ec-6b6b-4626-a566-f594a3d655a3.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/0d06a4c3-4fe6-494b-82a8-64a51e564dd2.html" target="element"> Ribs Front Bottom </a> </td>
																	    <td> <a href="../elements/0d06a4c3-4fe6-494b-82a8-64a51e564dd2.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/28aba381-b05c-4d53-8586-1ff686dd5cdd.html" target="element"> Ribs Mid Back </a> </td>
																	    <td> <a href="../elements/28aba381-b05c-4d53-8586-1ff686dd5cdd.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
																	</tr>

															
															<tr>
															    <td> <a href="../elements/94b579b2-6736-4b7a-b25c-991a45d2cfeb.html" target="element"> Abdominal </a> </td>
															    <td> <a href="../elements/94b579b2-6736-4b7a-b25c-991a45d2cfeb.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/920ad69c-a8d2-4658-b5e7-b2e6c8c21ef7.html" target="element"> Pelvis </a> </td>
													    <td> <a href="../elements/920ad69c-a8d2-4658-b5e7-b2e6c8c21ef7.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/90a5cb8b-736e-4de2-8c06-434b823fbf6a.html" target="element"> Pubic Bone </a> </td>
															    <td> <a href="../elements/90a5cb8b-736e-4de2-8c06-434b823fbf6a.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/b68bf768-5e64-4888-9940-81ba6de49040.html" target="element"> Glutes </a> </td>
															    <td> <a href="../elements/b68bf768-5e64-4888-9940-81ba6de49040.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/6cf1092a-bd1d-440f-9608-01935679dcc3.html" target="element"> Legs </a> </td>
													    <td> <a href="../elements/6cf1092a-bd1d-440f-9608-01935679dcc3.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/3df04dba-6884-439a-af46-623b56827831.html" target="element"> Knees </a> </td>
															    <td> <a href="../elements/3df04dba-6884-439a-af46-623b56827831.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/a709ddf8-9a66-42f4-94b9-b3f859893176.html" target="element"> Heels </a> </td>
															    <td> <a href="../elements/a709ddf8-9a66-42f4-94b9-b3f859893176.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/16fa54a0-5bda-4ba6-b5a7-93ef9f54955e.html" target="element"> Feet </a> </td>
															    <td> <a href="../elements/16fa54a0-5bda-4ba6-b5a7-93ef9f54955e.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/541416a6-0040-43f2-b441-edc7db560808.html" target="element"> Hips </a> </td>
															    <td> <a href="../elements/541416a6-0040-43f2-b441-edc7db560808.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/0b6003e7-7807-44a0-8fff-e0e814871f45.html" target="element"> Hips Flexors </a> </td>
																	    <td> <a href="../elements/0b6003e7-7807-44a0-8fff-e0e814871f45.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/4ec2a060-4a35-4fd1-8c91-ef738738af92.html" target="element"> Hips Extendors </a> </td>
																	    <td> <a href="../elements/4ec2a060-4a35-4fd1-8c91-ef738738af92.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../views/83f0d3c5-5039-4158-a1d7-538321c3beeb.html" target="view"> Hips </a> </td>
																	    <td> <a href="../views/83f0d3c5-5039-4158-a1d7-538321c3beeb.html" target="view" class="i18n-viewpoint-"> </a> </td>
																	</tr>
															    <!-- Other graphical objects -->

															
													
											
											<tr>
											    <td> <a href="../elements/63377dfa-cec3-4cd9-812d-99ef0d752306.html" target="element"> Bridge </a> </td>
											    <td> <a href="../elements/63377dfa-cec3-4cd9-812d-99ef0d752306.html" target="element" class="i18n-elementtype-ApplicationProcess"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/6f9a8493-284c-42ec-8e10-f5a1d824957c.html" target="element"> Breathe Ino Back Anchor </a> </td>
													    <td> <a href="../elements/6f9a8493-284c-42ec-8e10-f5a1d824957c.html" target="element" class="i18n-elementtype-ApplicationProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/42e7c87a-0d62-4ca0-8161-6960d9217b3c.html" target="element"> Listen to Your Body </a> </td>
													    <td> <a href="../elements/42e7c87a-0d62-4ca0-8161-6960d9217b3c.html" target="element" class="i18n-elementtype-ApplicationProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/1563d08a-c299-4ae5-a9e2-b8fba4146c15.html" target="element"> Connect Back Anchor </a> </td>
													    <td> <a href="../elements/1563d08a-c299-4ae5-a9e2-b8fba4146c15.html" target="element" class="i18n-elementtype-ApplicationProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/fef6b10a-bf1a-4a34-83b4-647d11fd0d1d.html" target="element"> Engage Glutes </a> </td>
													    <td> <a href="../elements/fef6b10a-bf1a-4a34-83b4-647d11fd0d1d.html" target="element" class="i18n-elementtype-ApplicationProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/0f886988-6fe0-4d84-b6cb-183a8259e65f.html" target="element"> Position Yourself on Back </a> </td>
													    <td> <a href="../elements/0f886988-6fe0-4d84-b6cb-183a8259e65f.html" target="element" class="i18n-elementtype-ApplicationProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/0a9f3747-d383-4449-b049-3c953f027baa.html" target="element"> Relax and Breathe Into Back </a> </td>
													    <td> <a href="../elements/0a9f3747-d383-4449-b049-3c953f027baa.html" target="element" class="i18n-elementtype-ApplicationProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/a0c2a2b3-b9e9-4771-b7ae-31361d5071a3.html" target="element"> Feel Back Anchor </a> </td>
													    <td> <a href="../elements/a0c2a2b3-b9e9-4771-b7ae-31361d5071a3.html" target="element" class="i18n-elementtype-ApplicationProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/716dee70-0032-4a49-8a39-0203f0af828f.html" target="element"> Unweight Pelvis </a> </td>
													    <td> <a href="../elements/716dee70-0032-4a49-8a39-0203f0af828f.html" target="element" class="i18n-elementtype-ApplicationProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/c7b2639c-7113-4222-99fb-1b280c7177f6.html" target="element"> Play Tug-of-War </a> </td>
													    <td> <a href="../elements/c7b2639c-7113-4222-99fb-1b280c7177f6.html" target="element" class="i18n-elementtype-ApplicationProcess"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/9cb8054e-1b14-4800-8af1-cac3c92697b5.html" target="element"> Back Anchor </a> </td>
											    <td> <a href="../elements/9cb8054e-1b14-4800-8af1-cac3c92697b5.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/34f5a75b-ac5f-4112-8144-ac24b5f30e58.html" target="element">  </a> </td>
																		<td> <a href="../elements/34f5a75b-ac5f-4112-8144-ac24b5f30e58.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/b45a4fe2-1b4c-4ba3-9a03-39a0fecfc2ed.html" target="element"> Body Horisontal Face Up </a> </td>
																		<td> <a href="../elements/829aba63-fe17-4855-8c13-c5addd206e3b.html" target="element"> Trunk </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/5ccc2299-5a41-419a-95be-5e2da16bb8fc.html" target="element">  </a> </td>
																		<td> <a href="../elements/5ccc2299-5a41-419a-95be-5e2da16bb8fc.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/b45a4fe2-1b4c-4ba3-9a03-39a0fecfc2ed.html" target="element"> Body Horisontal Face Up </a> </td>
																		<td> <a href="../elements/920ad69c-a8d2-4658-b5e7-b2e6c8c21ef7.html" target="element"> Pelvis </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/775c1917-d6e5-4711-9530-b2468b4a0005.html" target="element">  </a> </td>
																		<td> <a href="../elements/775c1917-d6e5-4711-9530-b2468b4a0005.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/b45a4fe2-1b4c-4ba3-9a03-39a0fecfc2ed.html" target="element"> Body Horisontal Face Up </a> </td>
																		<td> <a href="../elements/6cf1092a-bd1d-440f-9608-01935679dcc3.html" target="element"> Legs </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/fd9ca413-c012-4924-b8d0-7cba3e76b041.html" target="element">  </a> </td>
																				<td> <a href="../elements/fd9ca413-c012-4924-b8d0-7cba3e76b041.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/829aba63-fe17-4855-8c13-c5addd206e3b.html" target="element"> Trunk </a> </td>
																				<td> <a href="../elements/94b579b2-6736-4b7a-b25c-991a45d2cfeb.html" target="element"> Abdominal </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/c9d2e0c1-d44c-436e-a4cc-7ec8c6a03b39.html" target="element">  </a> </td>
																				<td> <a href="../elements/c9d2e0c1-d44c-436e-a4cc-7ec8c6a03b39.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/829aba63-fe17-4855-8c13-c5addd206e3b.html" target="element"> Trunk </a> </td>
																				<td> <a href="../elements/106023ec-6b6b-4626-a566-f594a3d655a3.html" target="element"> Rib Cage </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/47ba9c0a-3718-4801-a021-a22217b16b31.html" target="element">  </a> </td>
																				<td> <a href="../elements/47ba9c0a-3718-4801-a021-a22217b16b31.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/829aba63-fe17-4855-8c13-c5addd206e3b.html" target="element"> Trunk </a> </td>
																				<td> <a href="../elements/2953363b-01e4-43d7-8f23-aa8847e621cb.html" target="element"> Back </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/8219600c-19e7-4785-9fbb-a6b7ad338064.html" target="element">  </a> </td>
																				<td> <a href="../elements/8219600c-19e7-4785-9fbb-a6b7ad338064.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/829aba63-fe17-4855-8c13-c5addd206e3b.html" target="element"> Trunk </a> </td>
																				<td> <a href="../elements/920ad69c-a8d2-4658-b5e7-b2e6c8c21ef7.html" target="element"> Pelvis </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/92538c57-37cd-4992-87e5-30be58cbb7ea.html" target="element">  </a> </td>
																						<td> <a href="../elements/92538c57-37cd-4992-87e5-30be58cbb7ea.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																						<td> <a href="../elements/2953363b-01e4-43d7-8f23-aa8847e621cb.html" target="element"> Back </a> </td>
																						<td> <a href="../elements/1c1a9b9f-f416-408f-9b02-1bdb62a387b0.html" target="element"> Lower Back </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/201d108d-e0e9-4939-9118-6b74c9cdae08.html" target="element">  </a> </td>
																						<td> <a href="../elements/201d108d-e0e9-4939-9118-6b74c9cdae08.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																						<td> <a href="../elements/2953363b-01e4-43d7-8f23-aa8847e621cb.html" target="element"> Back </a> </td>
																						<td> <a href="../elements/0a96d6d2-8769-446b-a5cf-3c1968744ad4.html" target="element"> Upper Back </a> </td>
																					</tr>

															
																					<tr>
																						<td> <a href="../elements/1edf99bf-4ba8-4cb2-84a1-cc507a2c475a.html" target="element">  </a> </td>
																						<td> <a href="../elements/1edf99bf-4ba8-4cb2-84a1-cc507a2c475a.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																						<td> <a href="../elements/106023ec-6b6b-4626-a566-f594a3d655a3.html" target="element"> Rib Cage </a> </td>
																						<td> <a href="../elements/0d06a4c3-4fe6-494b-82a8-64a51e564dd2.html" target="element"> Ribs Front Bottom </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/f7322af0-e151-4aca-a24f-8e8b990b814d.html" target="element">  </a> </td>
																						<td> <a href="../elements/f7322af0-e151-4aca-a24f-8e8b990b814d.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																						<td> <a href="../elements/106023ec-6b6b-4626-a566-f594a3d655a3.html" target="element"> Rib Cage </a> </td>
																						<td> <a href="../elements/28aba381-b05c-4d53-8586-1ff686dd5cdd.html" target="element"> Ribs Mid Back </a> </td>
																					</tr>

																							<tr>
																								<td> <a href="../elements/6556a6a4-5078-4b3b-84a1-3dd653764091.html" target="element">  </a> </td>
																								<td> <a href="../elements/6556a6a4-5078-4b3b-84a1-3dd653764091.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																								<td> <a href="../elements/28aba381-b05c-4d53-8586-1ff686dd5cdd.html" target="element"> Ribs Mid Back </a> </td>
																								<td> <a href="../elements/9cb8054e-1b14-4800-8af1-cac3c92697b5.html" target="element"> Back Anchor </a> </td>
																							</tr>

															
													
																			<tr>
																				<td> <a href="../elements/fb6e0f8e-dcce-4f5e-a932-a8cd261585ed.html" target="element">  </a> </td>
																				<td> <a href="../elements/fb6e0f8e-dcce-4f5e-a932-a8cd261585ed.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/920ad69c-a8d2-4658-b5e7-b2e6c8c21ef7.html" target="element"> Pelvis </a> </td>
																				<td> <a href="../elements/b68bf768-5e64-4888-9940-81ba6de49040.html" target="element"> Glutes </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/5228210f-8467-45b6-8e5d-40f4822c779c.html" target="element">  </a> </td>
																				<td> <a href="../elements/5228210f-8467-45b6-8e5d-40f4822c779c.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/920ad69c-a8d2-4658-b5e7-b2e6c8c21ef7.html" target="element"> Pelvis </a> </td>
																				<td> <a href="../elements/90a5cb8b-736e-4de2-8c06-434b823fbf6a.html" target="element"> Pubic Bone </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/60afafea-2138-4cad-b6df-a2e726b08a85.html" target="element">  </a> </td>
																				<td> <a href="../elements/60afafea-2138-4cad-b6df-a2e726b08a85.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/920ad69c-a8d2-4658-b5e7-b2e6c8c21ef7.html" target="element"> Pelvis </a> </td>
																				<td> <a href="../elements/6cf1092a-bd1d-440f-9608-01935679dcc3.html" target="element"> Legs </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/70240ca8-76bc-4aec-9ec2-2a15bfc2a2ed.html" target="element">  </a> </td>
																						<td> <a href="../elements/70240ca8-76bc-4aec-9ec2-2a15bfc2a2ed.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																						<td> <a href="../elements/90a5cb8b-736e-4de2-8c06-434b823fbf6a.html" target="element"> Pubic Bone </a> </td>
																						<td> <a href="../elements/829aba63-fe17-4855-8c13-c5addd206e3b.html" target="element"> Trunk </a> </td>
																					</tr>

													
																			<tr>
																				<td> <a href="../elements/ba539782-9a5b-43f6-a552-30ba8646e233.html" target="element">  </a> </td>
																				<td> <a href="../elements/ba539782-9a5b-43f6-a552-30ba8646e233.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/6cf1092a-bd1d-440f-9608-01935679dcc3.html" target="element"> Legs </a> </td>
																				<td> <a href="../elements/3df04dba-6884-439a-af46-623b56827831.html" target="element"> Knees </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/8bd88e8d-874e-4840-9592-a5272648a77f.html" target="element">  </a> </td>
																				<td> <a href="../elements/8bd88e8d-874e-4840-9592-a5272648a77f.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/6cf1092a-bd1d-440f-9608-01935679dcc3.html" target="element"> Legs </a> </td>
																				<td> <a href="../elements/a709ddf8-9a66-42f4-94b9-b3f859893176.html" target="element"> Heels </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/bff7c705-7098-4a20-bdc3-80079900b609.html" target="element">  </a> </td>
																				<td> <a href="../elements/bff7c705-7098-4a20-bdc3-80079900b609.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/6cf1092a-bd1d-440f-9608-01935679dcc3.html" target="element"> Legs </a> </td>
																				<td> <a href="../elements/16fa54a0-5bda-4ba6-b5a7-93ef9f54955e.html" target="element"> Feet </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/80e4af17-1e5c-46ee-83f9-56cd6f189126.html" target="element">  </a> </td>
																				<td> <a href="../elements/80e4af17-1e5c-46ee-83f9-56cd6f189126.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/6cf1092a-bd1d-440f-9608-01935679dcc3.html" target="element"> Legs </a> </td>
																				<td> <a href="../elements/541416a6-0040-43f2-b441-edc7db560808.html" target="element"> Hips </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/a6854dd3-be1b-418b-8203-099df7187307.html" target="element"> front </a> </td>
																						<td> <a href="../elements/a6854dd3-be1b-418b-8203-099df7187307.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																						<td> <a href="../elements/541416a6-0040-43f2-b441-edc7db560808.html" target="element"> Hips </a> </td>
																						<td> <a href="../elements/0b6003e7-7807-44a0-8fff-e0e814871f45.html" target="element"> Hips Flexors </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/542dd284-5f76-4fd6-8bce-db65588ac199.html" target="element"> back </a> </td>
																						<td> <a href="../elements/542dd284-5f76-4fd6-8bce-db65588ac199.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																						<td> <a href="../elements/541416a6-0040-43f2-b441-edc7db560808.html" target="element"> Hips </a> </td>
																						<td> <a href="../elements/4ec2a060-4a35-4fd1-8c91-ef738738af92.html" target="element"> Hips Extendors </a> </td>
																					</tr>

																	<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
															
													
											
																	<tr>
																		<td> <a href="../elements/92d467cb-c752-4a1d-b06f-fd7dc3fca09c.html" target="element">  </a> </td>
																		<td> <a href="../elements/92d467cb-c752-4a1d-b06f-fd7dc3fca09c.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/63377dfa-cec3-4cd9-812d-99ef0d752306.html" target="element"> Bridge </a> </td>
																		<td> <a href="../elements/0f886988-6fe0-4d84-b6cb-183a8259e65f.html" target="element"> Position Yourself on Back </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/fa9aa01a-0a61-4b3c-8388-39c0b03a9f78.html" target="element">  </a> </td>
																		<td> <a href="../elements/fa9aa01a-0a61-4b3c-8388-39c0b03a9f78.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/63377dfa-cec3-4cd9-812d-99ef0d752306.html" target="element"> Bridge </a> </td>
																		<td> <a href="../elements/0a9f3747-d383-4449-b049-3c953f027baa.html" target="element"> Relax and Breathe Into Back </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a2fbee45-4fe7-43a7-ae67-5afd00c819c8.html" target="element">  </a> </td>
																		<td> <a href="../elements/a2fbee45-4fe7-43a7-ae67-5afd00c819c8.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/63377dfa-cec3-4cd9-812d-99ef0d752306.html" target="element"> Bridge </a> </td>
																		<td> <a href="../elements/a0c2a2b3-b9e9-4771-b7ae-31361d5071a3.html" target="element"> Feel Back Anchor </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/75587011-d461-4877-b86b-b5483b08e3ca.html" target="element">  </a> </td>
																		<td> <a href="../elements/75587011-d461-4877-b86b-b5483b08e3ca.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/63377dfa-cec3-4cd9-812d-99ef0d752306.html" target="element"> Bridge </a> </td>
																		<td> <a href="../elements/1563d08a-c299-4ae5-a9e2-b8fba4146c15.html" target="element"> Connect Back Anchor </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/05ff1f57-b516-49ae-95e3-9b82d4bc4c95.html" target="element">  </a> </td>
																		<td> <a href="../elements/05ff1f57-b516-49ae-95e3-9b82d4bc4c95.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/63377dfa-cec3-4cd9-812d-99ef0d752306.html" target="element"> Bridge </a> </td>
																		<td> <a href="../elements/716dee70-0032-4a49-8a39-0203f0af828f.html" target="element"> Unweight Pelvis </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/31dd52de-17ac-486f-bed8-036b7d4c22bf.html" target="element">  </a> </td>
																		<td> <a href="../elements/31dd52de-17ac-486f-bed8-036b7d4c22bf.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/63377dfa-cec3-4cd9-812d-99ef0d752306.html" target="element"> Bridge </a> </td>
																		<td> <a href="../elements/6f9a8493-284c-42ec-8e10-f5a1d824957c.html" target="element"> Breathe Ino Back Anchor </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/34650563-d948-41be-983a-265439bde7de.html" target="element">  </a> </td>
																		<td> <a href="../elements/34650563-d948-41be-983a-265439bde7de.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/63377dfa-cec3-4cd9-812d-99ef0d752306.html" target="element"> Bridge </a> </td>
																		<td> <a href="../elements/fef6b10a-bf1a-4a34-83b4-647d11fd0d1d.html" target="element"> Engage Glutes </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/9f69f4f4-868d-42c8-aea9-0b008f88c96d.html" target="element">  </a> </td>
																		<td> <a href="../elements/9f69f4f4-868d-42c8-aea9-0b008f88c96d.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/63377dfa-cec3-4cd9-812d-99ef0d752306.html" target="element"> Bridge </a> </td>
																		<td> <a href="../elements/c7b2639c-7113-4222-99fb-1b280c7177f6.html" target="element"> Play Tug-of-War </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/34eb5256-cd0a-40bb-b8b0-6993d7dfb6e0.html" target="element">  </a> </td>
																		<td> <a href="../elements/34eb5256-cd0a-40bb-b8b0-6993d7dfb6e0.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/63377dfa-cec3-4cd9-812d-99ef0d752306.html" target="element"> Bridge </a> </td>
																		<td> <a href="../elements/42e7c87a-0d62-4ca0-8161-6960d9217b3c.html" target="element"> Listen to Your Body </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/8152bd3a-0817-4c77-8c1a-879942eda514.html" target="element">  </a> </td>
																				<td> <a href="../elements/8152bd3a-0817-4c77-8c1a-879942eda514.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/1563d08a-c299-4ae5-a9e2-b8fba4146c15.html" target="element"> Connect Back Anchor </a> </td>
																				<td> <a href="../elements/9cb8054e-1b14-4800-8af1-cac3c92697b5.html" target="element"> Back Anchor </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/9be10ff5-bd07-47eb-8420-ca90721cfdf2.html" target="element">  </a> </td>
																				<td> <a href="../elements/9be10ff5-bd07-47eb-8420-ca90721cfdf2.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/a0c2a2b3-b9e9-4771-b7ae-31361d5071a3.html" target="element"> Feel Back Anchor </a> </td>
																				<td> <a href="../elements/9cb8054e-1b14-4800-8af1-cac3c92697b5.html" target="element"> Back Anchor </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>