<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Bridge</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
	<script type="text/javascript" src="../../js/panelBodyScroller.js"></script>
	<script async src="https://hypothes.is/embed.js"></script>	
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Bridge</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/c14cadeb-c7f3-462e-aa9d-1a3e66872563.png" alt="Bridge" usemap="#c14cadeb-c7f3-462e-aa9d-1a3e66872563map"/>
			   <map name="c14cadeb-c7f3-462e-aa9d-1a3e66872563map">
				  		<area shape="rect" coords="727,285,847,340" href="../elements/id-01c5d19e7f1e468f89221d83cf0b7f0b.html"  target="element">
				  				<area shape="rect" coords="1089,510,1209,565" href="../elements/id-520f3ad66e434c1b94466ad5a93a8b6f.html"  target="element">
				  				<area shape="rect" coords="994,444,1114,499" href="../elements/id-d57bd3df5b3645d7a5e2066fd3876329.html"  target="element">
				  				<area shape="rect" coords="866,444,986,499" href="../elements/id-9af630c991be45b3be121bab1bc52523.html"  target="element">
				  				<area shape="rect" coords="738,444,858,499" href="../elements/id-b301a29364b349d8a8d1b07f5fb49f95.html"  target="element">
				  				<area shape="rect" coords="612,444,732,499" href="../elements/id-0a3d0252115d46dc91f30e3f78fe5f33.html"  target="element">
				  				<area shape="rect" coords="487,444,607,499" href="../elements/id-d48dc62d0bca4135a0007baeefae764d.html"  target="element">
				  				<area shape="rect" coords="363,444,483,499" href="../elements/id-6b7919fadbd54260b39305bd5f7714da.html"  target="element">
				  				<area shape="rect" coords="237,444,357,499" href="../elements/id-32c37e8df7f546efaecd7aab152a83b6.html"  target="element">
				  				<area shape="rect" coords="105,444,225,499" href="../elements/id-8eec960a4fd148469494db936c0aee68.html"  target="element">

				  		<area shape="rect" coords="83,398,1220,579" href="../elements/id-b43ada66d7724f9cb8e219d94832e6d1.html"  target="element">
				  						<area shape="rect" coords="694,48,756,89" href="../elements/id-bf6f552e39dc4eac88d92f4c3a66c470.html"  target="element">
				  								<area shape="rect" coords="781,53,873,93" href="../elements/id-5ac1d13cd4a44825a8ca51aea47be166.html"  target="element">
				  								<area shape="rect" coords="766,134,846,171" href="../elements/id-61b6bb9801ae403494537a0574c6a9d1.html"  target="element">

				  						<area shape="rect" coords="755,48,930,175" href="../elements/id-b962c1bcdd4a4f15972fafd3cb93ce9c.html"  target="element">
				  								<area shape="rect" coords="861,168,929,208" href="../elements/id-0f1814a44a0e4fa292dd17fc299f8c95.html"  target="element">
				  								<area shape="rect" coords="700,168,768,208" href="../elements/id-1589c9cbbaf74b26b0692a15f007f87a.html"  target="element">

				  						<area shape="rect" coords="677,129,937,215" href="../elements/id-8a47519445b0482886f176887be73553.html"  target="element">

				  				<area shape="rect" coords="663,29,941,235" href="../elements/id-31957b172a3548db9407826cfa7eff0f.html"  target="element">
				  						<area shape="rect" coords="575,148,653,203" href="../elements/id-e1df6c3a95704a39a1f66db13450d7be.html"  target="element">
				  						<area shape="rect" coords="575,60,653,111" href="../elements/id-589f6fc90b424053ae8979c829f09e36.html"  target="element">

				  				<area shape="rect" coords="548,29,664,235" href="../elements/id-142242885887463d8162640a28dc4ecd.html"  target="element">
				  								<area shape="rect" coords="494,54,522,81" href="../views/83f0d3c5-5039-4158-a1d7-538321c3beeb.html"  target="view">
				  						    <!-- Other diagram objects -->
				  								<area shape="rect" coords="428,152,508,205" href="../elements/id-f06407d9811042a680ed3b3d6e5f7718.html"  target="element">
				  								<area shape="rect" coords="428,90,508,143" href="../elements/id-5520536adf77434eaeac7fe87b41996b.html"  target="element">

				  						<area shape="rect" coords="404,53,522,219" href="../elements/id-37821a2aeecb4dea8dde473dc54af6df.html"  target="element">
				  						<area shape="rect" coords="204,142,324,197" href="../elements/id-bcf278173d6b448d867d013282b53bd4.html"  target="element">
				  						<area shape="rect" coords="323,70,405,125" href="../elements/id-ee01e0a065c445e38b6ef12e09e97f0a.html"  target="element">
				  						<area shape="rect" coords="73,142,193,197" href="../elements/id-ff927aecc92544da97dad2201ae677a4.html"  target="element">

				  				<area shape="rect" coords="53,29,541,235" href="../elements/id-eba66175265d45a1b46c109747a2bdc6.html"  target="element">

				  		<area shape="rect" coords="10,10,1238,256" href="../elements/id-a8be4ca53f2344358abf80d724b857cf.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td>must replace icons</td><td class="convertlinks no-margin" style="white-space:pre-wrap">no</td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-a8be4ca53f2344358abf80d724b857cf.html" target="element"> Body Horisontal Face Up </a> </td>
											    <td> <a href="../elements/id-a8be4ca53f2344358abf80d724b857cf.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    	(Body)
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-eba66175265d45a1b46c109747a2bdc6.html" target="element"> Legs </a> </td>
													    <td> <a href="../elements/id-eba66175265d45a1b46c109747a2bdc6.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-ff927aecc92544da97dad2201ae677a4.html" target="element"> Feet </a> </td>
															    <td> <a href="../elements/id-ff927aecc92544da97dad2201ae677a4.html" target="element" class="i18n-elementtype-ApplicationComponent">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-ee01e0a065c445e38b6ef12e09e97f0a.html" target="element"> Knees </a> </td>
															    <td> <a href="../elements/id-ee01e0a065c445e38b6ef12e09e97f0a.html" target="element" class="i18n-elementtype-ApplicationComponent">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-bcf278173d6b448d867d013282b53bd4.html" target="element"> Heels </a> </td>
															    <td> <a href="../elements/id-bcf278173d6b448d867d013282b53bd4.html" target="element" class="i18n-elementtype-ApplicationComponent">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-37821a2aeecb4dea8dde473dc54af6df.html" target="element"> Hips </a> </td>
															    <td> <a href="../elements/id-37821a2aeecb4dea8dde473dc54af6df.html" target="element" class="i18n-elementtype-ApplicationComponent">
															    </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/id-5520536adf77434eaeac7fe87b41996b.html" target="element"> Hips Flexors </a> </td>
																	    <td> <a href="../elements/id-5520536adf77434eaeac7fe87b41996b.html" target="element" class="i18n-elementtype-ApplicationComponent">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-f06407d9811042a680ed3b3d6e5f7718.html" target="element"> Hips Extendors </a> </td>
																	    <td> <a href="../elements/id-f06407d9811042a680ed3b3d6e5f7718.html" target="element" class="i18n-elementtype-ApplicationComponent">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../views/83f0d3c5-5039-4158-a1d7-538321c3beeb.html" target="view"> Hips </a> </td>
																	    <td> <a href="../views/83f0d3c5-5039-4158-a1d7-538321c3beeb.html" target="view" class="i18n-viewpoint-"> </a> </td>
																	</tr>
															    <!-- Other graphical objects -->

															
													
													<tr>
													    <td> <a href="../elements/id-142242885887463d8162640a28dc4ecd.html" target="element"> Pelvis </a> </td>
													    <td> <a href="../elements/id-142242885887463d8162640a28dc4ecd.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-589f6fc90b424053ae8979c829f09e36.html" target="element"> Pubic Bone </a> </td>
															    <td> <a href="../elements/id-589f6fc90b424053ae8979c829f09e36.html" target="element" class="i18n-elementtype-ApplicationComponent">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-e1df6c3a95704a39a1f66db13450d7be.html" target="element"> Glutes </a> </td>
															    <td> <a href="../elements/id-e1df6c3a95704a39a1f66db13450d7be.html" target="element" class="i18n-elementtype-ApplicationComponent">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-31957b172a3548db9407826cfa7eff0f.html" target="element"> Trunk </a> </td>
													    <td> <a href="../elements/id-31957b172a3548db9407826cfa7eff0f.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-8a47519445b0482886f176887be73553.html" target="element"> Back </a> </td>
															    <td> <a href="../elements/id-8a47519445b0482886f176887be73553.html" target="element" class="i18n-elementtype-ApplicationComponent">
															    </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/id-1589c9cbbaf74b26b0692a15f007f87a.html" target="element"> Lower Back </a> </td>
																	    <td> <a href="../elements/id-1589c9cbbaf74b26b0692a15f007f87a.html" target="element" class="i18n-elementtype-ApplicationComponent">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-0f1814a44a0e4fa292dd17fc299f8c95.html" target="element"> Upper Back </a> </td>
																	    <td> <a href="../elements/id-0f1814a44a0e4fa292dd17fc299f8c95.html" target="element" class="i18n-elementtype-ApplicationComponent">
																	    </a> </td>
																	</tr>

															
															<tr>
															    <td> <a href="../elements/id-b962c1bcdd4a4f15972fafd3cb93ce9c.html" target="element"> Rib Cage </a> </td>
															    <td> <a href="../elements/id-b962c1bcdd4a4f15972fafd3cb93ce9c.html" target="element" class="i18n-elementtype-ApplicationComponent">
															    </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/id-61b6bb9801ae403494537a0574c6a9d1.html" target="element"> Ribs Mid Back </a> </td>
																	    <td> <a href="../elements/id-61b6bb9801ae403494537a0574c6a9d1.html" target="element" class="i18n-elementtype-ApplicationComponent">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-5ac1d13cd4a44825a8ca51aea47be166.html" target="element"> Ribs Front Bottom </a> </td>
																	    <td> <a href="../elements/id-5ac1d13cd4a44825a8ca51aea47be166.html" target="element" class="i18n-elementtype-ApplicationComponent">
																	    </a> </td>
																	</tr>

															
															<tr>
															    <td> <a href="../elements/id-bf6f552e39dc4eac88d92f4c3a66c470.html" target="element"> Abdominal </a> </td>
															    <td> <a href="../elements/id-bf6f552e39dc4eac88d92f4c3a66c470.html" target="element" class="i18n-elementtype-ApplicationComponent">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-b43ada66d7724f9cb8e219d94832e6d1.html" target="element"> Bridge </a> </td>
											    <td> <a href="../elements/id-b43ada66d7724f9cb8e219d94832e6d1.html" target="element" class="i18n-elementtype-TechnologyProcess">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-8eec960a4fd148469494db936c0aee68.html" target="element"> Position Yourself on Back </a> </td>
													    <td> <a href="../elements/id-8eec960a4fd148469494db936c0aee68.html" target="element" class="i18n-elementtype-TechnologyProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-32c37e8df7f546efaecd7aab152a83b6.html" target="element"> Relax and Breathe Into Back </a> </td>
													    <td> <a href="../elements/id-32c37e8df7f546efaecd7aab152a83b6.html" target="element" class="i18n-elementtype-TechnologyProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-6b7919fadbd54260b39305bd5f7714da.html" target="element"> Feel Back Anchor </a> </td>
													    <td> <a href="../elements/id-6b7919fadbd54260b39305bd5f7714da.html" target="element" class="i18n-elementtype-TechnologyProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d48dc62d0bca4135a0007baeefae764d.html" target="element"> Connect Back Anchor </a> </td>
													    <td> <a href="../elements/id-d48dc62d0bca4135a0007baeefae764d.html" target="element" class="i18n-elementtype-TechnologyProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0a3d0252115d46dc91f30e3f78fe5f33.html" target="element"> Unweight Pelvis </a> </td>
													    <td> <a href="../elements/id-0a3d0252115d46dc91f30e3f78fe5f33.html" target="element" class="i18n-elementtype-TechnologyProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b301a29364b349d8a8d1b07f5fb49f95.html" target="element"> Breathe Ino Back Anchor </a> </td>
													    <td> <a href="../elements/id-b301a29364b349d8a8d1b07f5fb49f95.html" target="element" class="i18n-elementtype-TechnologyProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-9af630c991be45b3be121bab1bc52523.html" target="element"> Engage Glutes </a> </td>
													    <td> <a href="../elements/id-9af630c991be45b3be121bab1bc52523.html" target="element" class="i18n-elementtype-TechnologyProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d57bd3df5b3645d7a5e2066fd3876329.html" target="element"> Play Tug-of-War </a> </td>
													    <td> <a href="../elements/id-d57bd3df5b3645d7a5e2066fd3876329.html" target="element" class="i18n-elementtype-TechnologyProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-520f3ad66e434c1b94466ad5a93a8b6f.html" target="element"> Listen to Your Body </a> </td>
													    <td> <a href="../elements/id-520f3ad66e434c1b94466ad5a93a8b6f.html" target="element" class="i18n-elementtype-TechnologyProcess">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-01c5d19e7f1e468f89221d83cf0b7f0b.html" target="element"> Back Anchor </a> </td>
											    <td> <a href="../elements/id-01c5d19e7f1e468f89221d83cf0b7f0b.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-27bc7d2740bf4754a2bf6de55f94f78a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-27bc7d2740bf4754a2bf6de55f94f78a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a8be4ca53f2344358abf80d724b857cf.html" target="element"> Body Horisontal Face Up </a> </td>
																		<td> <a href="../elements/id-31957b172a3548db9407826cfa7eff0f.html" target="element"> Trunk </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f588ae5f5ba3419b944ab081922dbdd0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f588ae5f5ba3419b944ab081922dbdd0.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a8be4ca53f2344358abf80d724b857cf.html" target="element"> Body Horisontal Face Up </a> </td>
																		<td> <a href="../elements/id-142242885887463d8162640a28dc4ecd.html" target="element"> Pelvis </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c0e11b8842e944f4bfa8f2ad2e346e06.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c0e11b8842e944f4bfa8f2ad2e346e06.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a8be4ca53f2344358abf80d724b857cf.html" target="element"> Body Horisontal Face Up </a> </td>
																		<td> <a href="../elements/id-eba66175265d45a1b46c109747a2bdc6.html" target="element"> Legs </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-1c50f1ca87a04cfb8447c27158a356af.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-1c50f1ca87a04cfb8447c27158a356af.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-eba66175265d45a1b46c109747a2bdc6.html" target="element"> Legs </a> </td>
																				<td> <a href="../elements/id-37821a2aeecb4dea8dde473dc54af6df.html" target="element"> Hips </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-f7ce0a09871c4b45a3ebd61fbe502594.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f7ce0a09871c4b45a3ebd61fbe502594.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-eba66175265d45a1b46c109747a2bdc6.html" target="element"> Legs </a> </td>
																				<td> <a href="../elements/id-bcf278173d6b448d867d013282b53bd4.html" target="element"> Heels </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-79d80168eaf74b9dac7de53a3b14d18f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-79d80168eaf74b9dac7de53a3b14d18f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-eba66175265d45a1b46c109747a2bdc6.html" target="element"> Legs </a> </td>
																				<td> <a href="../elements/id-ee01e0a065c445e38b6ef12e09e97f0a.html" target="element"> Knees </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-a3255c1e6b584c3e8525e42f0499aa12.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a3255c1e6b584c3e8525e42f0499aa12.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-eba66175265d45a1b46c109747a2bdc6.html" target="element"> Legs </a> </td>
																				<td> <a href="../elements/id-ff927aecc92544da97dad2201ae677a4.html" target="element"> Feet </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/id-e1a599dc859c4cba9d109e6cf63eff4d.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-e1a599dc859c4cba9d109e6cf63eff4d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-37821a2aeecb4dea8dde473dc54af6df.html" target="element"> Hips </a> </td>
																						<td> <a href="../elements/id-f06407d9811042a680ed3b3d6e5f7718.html" target="element"> Hips Extendors </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-b5d62dc513574b398567a9d01eca79e8.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-b5d62dc513574b398567a9d01eca79e8.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-37821a2aeecb4dea8dde473dc54af6df.html" target="element"> Hips </a> </td>
																						<td> <a href="../elements/id-5520536adf77434eaeac7fe87b41996b.html" target="element"> Hips Flexors </a> </td>
																					</tr>

																	<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
															
													
																			<tr>
																				<td> <a href="../elements/id-637c60a401c44777971d3e069130379b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-637c60a401c44777971d3e069130379b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-142242885887463d8162640a28dc4ecd.html" target="element"> Pelvis </a> </td>
																				<td> <a href="../elements/id-e1df6c3a95704a39a1f66db13450d7be.html" target="element"> Glutes </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-8196cc78f41745ae8174a671e15809ee.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-8196cc78f41745ae8174a671e15809ee.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-142242885887463d8162640a28dc4ecd.html" target="element"> Pelvis </a> </td>
																				<td> <a href="../elements/id-589f6fc90b424053ae8979c829f09e36.html" target="element"> Pubic Bone </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-41b5441f1fce4d9ca676c4a8d6707b32.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-41b5441f1fce4d9ca676c4a8d6707b32.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-31957b172a3548db9407826cfa7eff0f.html" target="element"> Trunk </a> </td>
																				<td> <a href="../elements/id-bf6f552e39dc4eac88d92f4c3a66c470.html" target="element"> Abdominal </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-2a4221247b7b403e917e39ae0663236f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2a4221247b7b403e917e39ae0663236f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-31957b172a3548db9407826cfa7eff0f.html" target="element"> Trunk </a> </td>
																				<td> <a href="../elements/id-b962c1bcdd4a4f15972fafd3cb93ce9c.html" target="element"> Rib Cage </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-82539ffe879f46b5bae717d706154ca9.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-82539ffe879f46b5bae717d706154ca9.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-31957b172a3548db9407826cfa7eff0f.html" target="element"> Trunk </a> </td>
																				<td> <a href="../elements/id-8a47519445b0482886f176887be73553.html" target="element"> Back </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/id-f2d25e2098194001bb37e82fbdea7639.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-f2d25e2098194001bb37e82fbdea7639.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-8a47519445b0482886f176887be73553.html" target="element"> Back </a> </td>
																						<td> <a href="../elements/id-0f1814a44a0e4fa292dd17fc299f8c95.html" target="element"> Upper Back </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-88a230167b1c4362980cf746f1d998cb.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-88a230167b1c4362980cf746f1d998cb.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-8a47519445b0482886f176887be73553.html" target="element"> Back </a> </td>
																						<td> <a href="../elements/id-1589c9cbbaf74b26b0692a15f007f87a.html" target="element"> Lower Back </a> </td>
																					</tr>

															
																					<tr>
																						<td> <a href="../elements/id-c06986493e474a5bb858c00bb4277002.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-c06986493e474a5bb858c00bb4277002.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-b962c1bcdd4a4f15972fafd3cb93ce9c.html" target="element"> Rib Cage </a> </td>
																						<td> <a href="../elements/id-5ac1d13cd4a44825a8ca51aea47be166.html" target="element"> Ribs Front Bottom </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-74da1b4aca914bb6bf24176c19014199.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-74da1b4aca914bb6bf24176c19014199.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-b962c1bcdd4a4f15972fafd3cb93ce9c.html" target="element"> Rib Cage </a> </td>
																						<td> <a href="../elements/id-61b6bb9801ae403494537a0574c6a9d1.html" target="element"> Ribs Mid Back </a> </td>
																					</tr>

																							<tr>
																								<td> <a href="../elements/id-0b0c1ad778574f47a9a2b0d7949cfece.html" target="element">  </a> </td>
																								<td> <a href="../elements/id-0b0c1ad778574f47a9a2b0d7949cfece.html" target="element" class="i18n-elementtype-AccessRelationship">
																								</a> </td>
																								<td> <a href="../elements/id-61b6bb9801ae403494537a0574c6a9d1.html" target="element"> Ribs Mid Back </a> </td>
																								<td> <a href="../elements/id-01c5d19e7f1e468f89221d83cf0b7f0b.html" target="element"> Back Anchor </a> </td>
																							</tr>

															
													
											
																	<tr>
																		<td> <a href="../elements/id-6f0d54701ec64e0e9945887355651c81.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6f0d54701ec64e0e9945887355651c81.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b43ada66d7724f9cb8e219d94832e6d1.html" target="element"> Bridge </a> </td>
																		<td> <a href="../elements/id-8eec960a4fd148469494db936c0aee68.html" target="element"> Position Yourself on Back </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8811e162e4e04e9fb146ed37fcff9f9c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8811e162e4e04e9fb146ed37fcff9f9c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b43ada66d7724f9cb8e219d94832e6d1.html" target="element"> Bridge </a> </td>
																		<td> <a href="../elements/id-32c37e8df7f546efaecd7aab152a83b6.html" target="element"> Relax and Breathe Into Back </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-38cfc4308d0240ab9dfc6d7129f0477b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-38cfc4308d0240ab9dfc6d7129f0477b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b43ada66d7724f9cb8e219d94832e6d1.html" target="element"> Bridge </a> </td>
																		<td> <a href="../elements/id-6b7919fadbd54260b39305bd5f7714da.html" target="element"> Feel Back Anchor </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e86a4d21b78f4dd589997b15f7c58e4c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e86a4d21b78f4dd589997b15f7c58e4c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b43ada66d7724f9cb8e219d94832e6d1.html" target="element"> Bridge </a> </td>
																		<td> <a href="../elements/id-d48dc62d0bca4135a0007baeefae764d.html" target="element"> Connect Back Anchor </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ec9e9d440fab45c1a6646d1abb4b12de.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ec9e9d440fab45c1a6646d1abb4b12de.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b43ada66d7724f9cb8e219d94832e6d1.html" target="element"> Bridge </a> </td>
																		<td> <a href="../elements/id-0a3d0252115d46dc91f30e3f78fe5f33.html" target="element"> Unweight Pelvis </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-df884ba523a64b79bc716d9ba06ccfb4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-df884ba523a64b79bc716d9ba06ccfb4.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b43ada66d7724f9cb8e219d94832e6d1.html" target="element"> Bridge </a> </td>
																		<td> <a href="../elements/id-b301a29364b349d8a8d1b07f5fb49f95.html" target="element"> Breathe Ino Back Anchor </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-69c483fc87a44f7f9751ae414fe25324.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-69c483fc87a44f7f9751ae414fe25324.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b43ada66d7724f9cb8e219d94832e6d1.html" target="element"> Bridge </a> </td>
																		<td> <a href="../elements/id-9af630c991be45b3be121bab1bc52523.html" target="element"> Engage Glutes </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4b7416d788b34b4b863c40fcc853a104.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4b7416d788b34b4b863c40fcc853a104.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b43ada66d7724f9cb8e219d94832e6d1.html" target="element"> Bridge </a> </td>
																		<td> <a href="../elements/id-d57bd3df5b3645d7a5e2066fd3876329.html" target="element"> Play Tug-of-War </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-bc49097adb974aa4b82536fbab506b52.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bc49097adb974aa4b82536fbab506b52.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b43ada66d7724f9cb8e219d94832e6d1.html" target="element"> Bridge </a> </td>
																		<td> <a href="../elements/id-520f3ad66e434c1b94466ad5a93a8b6f.html" target="element"> Listen to Your Body </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-a52e639301934deea4901b884ffa0d8f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a52e639301934deea4901b884ffa0d8f.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-6b7919fadbd54260b39305bd5f7714da.html" target="element"> Feel Back Anchor </a> </td>
																				<td> <a href="../elements/id-01c5d19e7f1e468f89221d83cf0b7f0b.html" target="element"> Back Anchor </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-ffbb14242ab8488d934ac8724df6e9f0.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ffbb14242ab8488d934ac8724df6e9f0.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d48dc62d0bca4135a0007baeefae764d.html" target="element"> Connect Back Anchor </a> </td>
																				<td> <a href="../elements/id-01c5d19e7f1e468f89221d83cf0b7f0b.html" target="element"> Back Anchor </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>