<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>App in Life</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>App in Life</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/dd9e1d95-2494-4067-8001-5f776d890d4f.png" alt="App in Life" usemap="#dd9e1d95-2494-4067-8001-5f776d890d4fmap"/>
			   <map name="dd9e1d95-2494-4067-8001-5f776d890d4fmap">
				  		<area shape="rect" coords="162,220,282,275" href="../elements/245cc862-dfec-4c7d-99b2-ae1a31c490f3.html"  target="element">
				  		<area shape="rect" coords="10,310,130,365" href="../elements/16614ced-6d6b-4135-b59e-f3a79b39a1a8.html"  target="element">
				  		<area shape="rect" coords="425,332,545,387" href="../elements/df77e653-d8d5-4099-b5ab-eaf8efcc5ea5.html"  target="element">
				  		<area shape="rect" coords="405,10,525,65" href="../elements/4b4b46b8-c129-4de2-89c3-2c45f00c3a48.html"  target="element">
				  		<area shape="rect" coords="306,104,426,159" href="../elements/78974adc-1ba6-419e-a843-137395be49eb.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/78974adc-1ba6-419e-a843-137395be49eb.html" target="element"> Superman </a> </td>
											    <td> <a href="../elements/78974adc-1ba6-419e-a843-137395be49eb.html" target="element" class="i18n-elementtype-ValueStream"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/4b4b46b8-c129-4de2-89c3-2c45f00c3a48.html" target="element"> Yoga </a> </td>
											    <td> <a href="../elements/4b4b46b8-c129-4de2-89c3-2c45f00c3a48.html" target="element" class="i18n-elementtype-ValueStream"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/df77e653-d8d5-4099-b5ab-eaf8efcc5ea5.html" target="element"> Baby getting off the ground </a> </td>
											    <td> <a href="../elements/df77e653-d8d5-4099-b5ab-eaf8efcc5ea5.html" target="element" class="i18n-elementtype-ValueStream"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/16614ced-6d6b-4135-b59e-f3a79b39a1a8.html" target="element"> Push-ups </a> </td>
											    <td> <a href="../elements/16614ced-6d6b-4135-b59e-f3a79b39a1a8.html" target="element" class="i18n-elementtype-ValueStream"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/245cc862-dfec-4c7d-99b2-ae1a31c490f3.html" target="element"> Swimming </a> </td>
											    <td> <a href="../elements/245cc862-dfec-4c7d-99b2-ae1a31c490f3.html" target="element" class="i18n-elementtype-ValueStream"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/c858859c-4422-4faf-bfd9-cede8cf5e216.html" target="element">  </a> </td>
																		<td> <a href="../elements/c858859c-4422-4faf-bfd9-cede8cf5e216.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/4b4b46b8-c129-4de2-89c3-2c45f00c3a48.html" target="element"> Yoga </a> </td>
																		<td> <a href="../elements/78974adc-1ba6-419e-a843-137395be49eb.html" target="element"> Superman </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>