<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Body parts view (horizontal face-down)</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Body parts view (horizontal face-down)</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/f1ef26c7-d5ce-4f70-a070-482431d2b32b.png" alt="Body parts view (horizontal face-down)" usemap="#f1ef26c7-d5ce-4f70-a070-482431d2b32bmap"/>
			   <map name="f1ef26c7-d5ce-4f70-a070-482431d2b32bmap">
				  		<area shape="rect" coords="22,436,724,581" href="../elements/55036669-5d2c-44c2-bcc4-bea033672da2.html"  target="element">
				  		<area shape="rect" coords="1186,532,1306,587" href="../elements/21190a9b-4e40-4fb2-a6a6-3774278af240.html"  target="element">
				  		<area shape="rect" coords="659,532,779,587" href="../elements/3ac943f7-3493-40bb-9ea8-fca6f6c67a18.html"  target="element">
				  		<area shape="rect" coords="286,10,406,65" href="../elements/326c1b49-b4e5-4d63-a2f9-d994d915caf6.html"  target="element">
				  		<area shape="rect" coords="142,340,262,395" href="../elements/c91a979d-e598-4c06-a44f-4f2a3c3a03e9.html"  target="element">
				  		<area shape="rect" coords="862,370,982,425" href="../elements/eea2702f-d3f5-4f2c-a9fe-2eba3a1b89ab.html"  target="element">
				  		<area shape="rect" coords="491,154,611,209" href="../elements/f783f6d3-4c65-4e27-a6f4-20711f19e280.html"  target="element">
				  		<area shape="rect" coords="576,274,696,329" href="../elements/0aa9e82a-3835-4200-8c63-0d4404eabb8a.html"  target="element">
				  		<area shape="rect" coords="142,82,262,137" href="../elements/3e225f6d-7cae-48ce-b1cf-c19b12c99ba5.html"  target="element">
				  		<area shape="rect" coords="514,220,634,275" href="../elements/c7651758-85ec-448e-9f06-29a0feddae49.html"  target="element">
				  		<area shape="rect" coords="335,256,455,311" href="../elements/17301c6e-0ade-4dc4-9c78-54b3f3e1d433.html"  target="element">
				  		<area shape="rect" coords="862,466,982,521" href="../elements/e8bebc5d-d426-4988-bf99-14b1ca82249f.html"  target="element">
				  		<area shape="rect" coords="862,262,982,317" href="../elements/735793cd-54a0-43cc-8bdc-698e8e9dd6d2.html"  target="element">
				  		<area shape="rect" coords="1126,286,1246,341" href="../elements/e813e0d3-ee02-4256-8fc5-03ddbf3edff6.html"  target="element">
				  		<area shape="rect" coords="1271,382,1391,437" href="../elements/31e556df-5b61-4d33-84ac-cb59eec42458.html"  target="element">
				  		<area shape="rect" coords="994,130,1114,185" href="../elements/ee227d5f-2881-4b5f-9a2b-f21a3bb46386.html"  target="element">
				  		<area shape="rect" coords="706,370,826,425" href="../elements/d4e041d4-3412-43fe-88a7-9e5b20b59aba.html"  target="element">
				  		<area shape="rect" coords="347,94,467,149" href="../elements/43e5144c-e96b-44d4-8007-380bb1c44a10.html"  target="element">
				  		<area shape="rect" coords="10,82,94,137" href="../elements/f0c3a945-d5fa-4925-93eb-036bc0a3efac.html"  target="element">
				  		<area shape="rect" coords="323,370,443,425" href="../elements/38ef25e4-af8e-4ba8-866b-f02ea9ad5ec3.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/38ef25e4-af8e-4ba8-866b-f02ea9ad5ec3.html" target="element"> Trunk </a> </td>
											    <td> <a href="../elements/38ef25e4-af8e-4ba8-866b-f02ea9ad5ec3.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f0c3a945-d5fa-4925-93eb-036bc0a3efac.html" target="element"> Back </a> </td>
											    <td> <a href="../elements/f0c3a945-d5fa-4925-93eb-036bc0a3efac.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/43e5144c-e96b-44d4-8007-380bb1c44a10.html" target="element"> Lower Back </a> </td>
											    <td> <a href="../elements/43e5144c-e96b-44d4-8007-380bb1c44a10.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d4e041d4-3412-43fe-88a7-9e5b20b59aba.html" target="element"> Legs </a> </td>
											    <td> <a href="../elements/d4e041d4-3412-43fe-88a7-9e5b20b59aba.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/ee227d5f-2881-4b5f-9a2b-f21a3bb46386.html" target="element"> Knees </a> </td>
											    <td> <a href="../elements/ee227d5f-2881-4b5f-9a2b-f21a3bb46386.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/31e556df-5b61-4d33-84ac-cb59eec42458.html" target="element"> Feet </a> </td>
											    <td> <a href="../elements/31e556df-5b61-4d33-84ac-cb59eec42458.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e813e0d3-ee02-4256-8fc5-03ddbf3edff6.html" target="element"> Heels </a> </td>
											    <td> <a href="../elements/e813e0d3-ee02-4256-8fc5-03ddbf3edff6.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/735793cd-54a0-43cc-8bdc-698e8e9dd6d2.html" target="element"> Hips Flexors </a> </td>
											    <td> <a href="../elements/735793cd-54a0-43cc-8bdc-698e8e9dd6d2.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e8bebc5d-d426-4988-bf99-14b1ca82249f.html" target="element"> Hips Extendors </a> </td>
											    <td> <a href="../elements/e8bebc5d-d426-4988-bf99-14b1ca82249f.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/17301c6e-0ade-4dc4-9c78-54b3f3e1d433.html" target="element"> Abdominal </a> </td>
											    <td> <a href="../elements/17301c6e-0ade-4dc4-9c78-54b3f3e1d433.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/c7651758-85ec-448e-9f06-29a0feddae49.html" target="element"> Pelvis </a> </td>
											    <td> <a href="../elements/c7651758-85ec-448e-9f06-29a0feddae49.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/3e225f6d-7cae-48ce-b1cf-c19b12c99ba5.html" target="element"> Mid Back </a> </td>
											    <td> <a href="../elements/3e225f6d-7cae-48ce-b1cf-c19b12c99ba5.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/0aa9e82a-3835-4200-8c63-0d4404eabb8a.html" target="element"> Pubic Bone </a> </td>
											    <td> <a href="../elements/0aa9e82a-3835-4200-8c63-0d4404eabb8a.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f783f6d3-4c65-4e27-a6f4-20711f19e280.html" target="element"> Glutes </a> </td>
											    <td> <a href="../elements/f783f6d3-4c65-4e27-a6f4-20711f19e280.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/eea2702f-d3f5-4f2c-a9fe-2eba3a1b89ab.html" target="element"> Hips </a> </td>
											    <td> <a href="../elements/eea2702f-d3f5-4f2c-a9fe-2eba3a1b89ab.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/c91a979d-e598-4c06-a44f-4f2a3c3a03e9.html" target="element"> Rib Cage </a> </td>
											    <td> <a href="../elements/c91a979d-e598-4c06-a44f-4f2a3c3a03e9.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/326c1b49-b4e5-4d63-a2f9-d994d915caf6.html" target="element"> Back Anchor </a> </td>
											    <td> <a href="../elements/326c1b49-b4e5-4d63-a2f9-d994d915caf6.html" target="element" class="i18n-elementtype-Artifact"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/3ac943f7-3493-40bb-9ea8-fca6f6c67a18.html" target="element"> Front Anchors </a> </td>
											    <td> <a href="../elements/3ac943f7-3493-40bb-9ea8-fca6f6c67a18.html" target="element" class="i18n-elementtype-Artifact"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/21190a9b-4e40-4fb2-a6a6-3774278af240.html" target="element"> Front Body Postural Awareness </a> </td>
											    <td> <a href="../elements/21190a9b-4e40-4fb2-a6a6-3774278af240.html" target="element" class="i18n-elementtype-ApplicationProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/55036669-5d2c-44c2-bcc4-bea033672da2.html" target="element"> Actor </a> </td>
											    <td> <a href="../elements/55036669-5d2c-44c2-bcc4-bea033672da2.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/7a674d34-5b68-4e8c-867d-e71620dc74d6.html" target="element">  </a> </td>
																		<td> <a href="../elements/7a674d34-5b68-4e8c-867d-e71620dc74d6.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/38ef25e4-af8e-4ba8-866b-f02ea9ad5ec3.html" target="element"> Trunk </a> </td>
																		<td> <a href="../elements/17301c6e-0ade-4dc4-9c78-54b3f3e1d433.html" target="element"> Abdominal </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/cc5322f2-b57e-4341-85cd-5fc6bca05775.html" target="element">  </a> </td>
																		<td> <a href="../elements/cc5322f2-b57e-4341-85cd-5fc6bca05775.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/38ef25e4-af8e-4ba8-866b-f02ea9ad5ec3.html" target="element"> Trunk </a> </td>
																		<td> <a href="../elements/c7651758-85ec-448e-9f06-29a0feddae49.html" target="element"> Pelvis </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/6ec67ea9-e566-43ac-bc96-b1b1f479e1d3.html" target="element">  </a> </td>
																		<td> <a href="../elements/6ec67ea9-e566-43ac-bc96-b1b1f479e1d3.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/f0c3a945-d5fa-4925-93eb-036bc0a3efac.html" target="element"> Back </a> </td>
																		<td> <a href="../elements/43e5144c-e96b-44d4-8007-380bb1c44a10.html" target="element"> Lower Back </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6d2d1485-7b99-42fd-aae6-be48f9041ff9.html" target="element">  </a> </td>
																		<td> <a href="../elements/6d2d1485-7b99-42fd-aae6-be48f9041ff9.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/f0c3a945-d5fa-4925-93eb-036bc0a3efac.html" target="element"> Back </a> </td>
																		<td> <a href="../elements/3e225f6d-7cae-48ce-b1cf-c19b12c99ba5.html" target="element"> Mid Back </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/01d08c18-5df4-48f9-af93-5dc5215cc4af.html" target="element">  </a> </td>
																		<td> <a href="../elements/01d08c18-5df4-48f9-af93-5dc5215cc4af.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/d4e041d4-3412-43fe-88a7-9e5b20b59aba.html" target="element"> Legs </a> </td>
																		<td> <a href="../elements/ee227d5f-2881-4b5f-9a2b-f21a3bb46386.html" target="element"> Knees </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c20e430d-2b84-4dee-86c0-639f76cf292b.html" target="element">  </a> </td>
																		<td> <a href="../elements/c20e430d-2b84-4dee-86c0-639f76cf292b.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/d4e041d4-3412-43fe-88a7-9e5b20b59aba.html" target="element"> Legs </a> </td>
																		<td> <a href="../elements/31e556df-5b61-4d33-84ac-cb59eec42458.html" target="element"> Feet </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/13e5b9ec-cfb4-4f0c-bb94-6fa03650b5f5.html" target="element">  </a> </td>
																		<td> <a href="../elements/13e5b9ec-cfb4-4f0c-bb94-6fa03650b5f5.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/d4e041d4-3412-43fe-88a7-9e5b20b59aba.html" target="element"> Legs </a> </td>
																		<td> <a href="../elements/e813e0d3-ee02-4256-8fc5-03ddbf3edff6.html" target="element"> Heels </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/fbf3d14d-d294-414f-b94a-74b84711b5a0.html" target="element">  </a> </td>
																		<td> <a href="../elements/fbf3d14d-d294-414f-b94a-74b84711b5a0.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/d4e041d4-3412-43fe-88a7-9e5b20b59aba.html" target="element"> Legs </a> </td>
																		<td> <a href="../elements/eea2702f-d3f5-4f2c-a9fe-2eba3a1b89ab.html" target="element"> Hips </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/9df2ce64-e095-4db8-9c56-629500878b7b.html" target="element">  </a> </td>
																		<td> <a href="../elements/9df2ce64-e095-4db8-9c56-629500878b7b.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/d4e041d4-3412-43fe-88a7-9e5b20b59aba.html" target="element"> Legs </a> </td>
																		<td> <a href="../elements/c7651758-85ec-448e-9f06-29a0feddae49.html" target="element"> Pelvis </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/62a58644-b4d0-41d7-8791-37aea3492c1e.html" target="element">  </a> </td>
																		<td> <a href="../elements/62a58644-b4d0-41d7-8791-37aea3492c1e.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/31e556df-5b61-4d33-84ac-cb59eec42458.html" target="element"> Feet </a> </td>
																		<td> <a href="../elements/e813e0d3-ee02-4256-8fc5-03ddbf3edff6.html" target="element"> Heels </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/a70d647c-076b-43a4-84e1-4fef024c6a10.html" target="element">  </a> </td>
																		<td> <a href="../elements/a70d647c-076b-43a4-84e1-4fef024c6a10.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/e813e0d3-ee02-4256-8fc5-03ddbf3edff6.html" target="element"> Heels </a> </td>
																		<td> <a href="../elements/ee227d5f-2881-4b5f-9a2b-f21a3bb46386.html" target="element"> Knees </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/0b758a1d-d365-412e-8dfc-6500801c6ba8.html" target="element">  </a> </td>
																		<td> <a href="../elements/0b758a1d-d365-412e-8dfc-6500801c6ba8.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/c7651758-85ec-448e-9f06-29a0feddae49.html" target="element"> Pelvis </a> </td>
																		<td> <a href="../elements/0aa9e82a-3835-4200-8c63-0d4404eabb8a.html" target="element"> Pubic Bone </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6bc2e5f9-5312-4709-8869-a0b712e510a3.html" target="element">  </a> </td>
																		<td> <a href="../elements/6bc2e5f9-5312-4709-8869-a0b712e510a3.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/c7651758-85ec-448e-9f06-29a0feddae49.html" target="element"> Pelvis </a> </td>
																		<td> <a href="../elements/f783f6d3-4c65-4e27-a6f4-20711f19e280.html" target="element"> Glutes </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/8c1287b6-d4e5-4b84-b2fa-bec78de779e4.html" target="element">  </a> </td>
																		<td> <a href="../elements/8c1287b6-d4e5-4b84-b2fa-bec78de779e4.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/3e225f6d-7cae-48ce-b1cf-c19b12c99ba5.html" target="element"> Mid Back </a> </td>
																		<td> <a href="../elements/326c1b49-b4e5-4d63-a2f9-d994d915caf6.html" target="element"> Back Anchor </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/f896b1de-b632-4e03-ba7e-ccafd979095d.html" target="element">  </a> </td>
																		<td> <a href="../elements/f896b1de-b632-4e03-ba7e-ccafd979095d.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/0aa9e82a-3835-4200-8c63-0d4404eabb8a.html" target="element"> Pubic Bone </a> </td>
																		<td> <a href="../elements/17301c6e-0ade-4dc4-9c78-54b3f3e1d433.html" target="element"> Abdominal </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/156ad270-de30-437c-940e-eeded49ce32a.html" target="element"> front </a> </td>
																		<td> <a href="../elements/156ad270-de30-437c-940e-eeded49ce32a.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/eea2702f-d3f5-4f2c-a9fe-2eba3a1b89ab.html" target="element"> Hips </a> </td>
																		<td> <a href="../elements/735793cd-54a0-43cc-8bdc-698e8e9dd6d2.html" target="element"> Hips Flexors </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b37718a4-7911-4bee-85b1-ddda18014a10.html" target="element"> back </a> </td>
																		<td> <a href="../elements/b37718a4-7911-4bee-85b1-ddda18014a10.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/eea2702f-d3f5-4f2c-a9fe-2eba3a1b89ab.html" target="element"> Hips </a> </td>
																		<td> <a href="../elements/e8bebc5d-d426-4988-bf99-14b1ca82249f.html" target="element"> Hips Extendors </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/83b5e75a-a1a9-49c9-acf3-8c81bd0283cc.html" target="element">  </a> </td>
																		<td> <a href="../elements/83b5e75a-a1a9-49c9-acf3-8c81bd0283cc.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/c91a979d-e598-4c06-a44f-4f2a3c3a03e9.html" target="element"> Rib Cage </a> </td>
																		<td> <a href="../elements/17301c6e-0ade-4dc4-9c78-54b3f3e1d433.html" target="element"> Abdominal </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/6eef471a-41e3-42fd-be51-b64969e0eb9d.html" target="element">  </a> </td>
																		<td> <a href="../elements/6eef471a-41e3-42fd-be51-b64969e0eb9d.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/326c1b49-b4e5-4d63-a2f9-d994d915caf6.html" target="element"> Back Anchor </a> </td>
																		<td> <a href="../elements/43e5144c-e96b-44d4-8007-380bb1c44a10.html" target="element"> Lower Back </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>