<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Pelvis</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Pelvis</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-4e91ca3e63334246b4440a20db3962c9.png" alt="Pelvis" usemap="#id-4e91ca3e63334246b4440a20db3962c9map"/>
			   <map name="id-4e91ca3e63334246b4440a20db3962c9map">
				  		<area shape="rect" coords="10,10,130,65" href="../views/id-8213cf619daf46d3860ee74fcfb7a22b.html"  target="view">
				      <!-- Other diagram objects -->
				  				<area shape="rect" coords="301,249,421,304" href="../elements/id-589f6fc90b424053ae8979c829f09e36.html"  target="element">

				  		<area shape="rect" coords="95,127,436,425" href="../elements/id-142242885887463d8162640a28dc4ecd.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-142242885887463d8162640a28dc4ecd.html" target="element"> Pelvis </a> </td>
											    <td> <a href="../elements/id-142242885887463d8162640a28dc4ecd.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-589f6fc90b424053ae8979c829f09e36.html" target="element"> Pubic Bone </a> </td>
													    <td> <a href="../elements/id-589f6fc90b424053ae8979c829f09e36.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../views/id-8213cf619daf46d3860ee74fcfb7a22b.html" target="view"> Body </a> </td>
											    <td> <a href="../views/id-8213cf619daf46d3860ee74fcfb7a22b.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-8196cc78f41745ae8174a671e15809ee.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8196cc78f41745ae8174a671e15809ee.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-142242885887463d8162640a28dc4ecd.html" target="element"> Pelvis </a> </td>
																		<td> <a href="../elements/id-589f6fc90b424053ae8979c829f09e36.html" target="element"> Pubic Bone </a> </td>
																	</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>