<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Glutes</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
	<script type="text/javascript" src="../../js/panelBodyScroller.js"></script>
	<script async src="https://hypothes.is/embed.js"></script>	
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Glutes</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-447998c47cd7423f857f9af4e84bd06b.png" alt="Glutes" usemap="#id-447998c47cd7423f857f9af4e84bd06bmap"/>
			   <map name="id-447998c47cd7423f857f9af4e84bd06bmap">
				  		<area shape="rect" coords="10,10,130,65" href="../views/id-8213cf619daf46d3860ee74fcfb7a22b.html"  target="view">
				      <!-- Other diagram objects -->
				  				<area shape="rect" coords="350,318,470,373" href="../elements/id-1beaa989377544399f2b2eb5048f7301.html"  target="element">
				  				<area shape="rect" coords="214,225,334,280" href="../elements/id-2c95c0c77f5649c09dfc342f263194da.html"  target="element">
				  				<area shape="rect" coords="426,422,546,477" href="../elements/id-390a93041b974066b11472d4722f08c1.html"  target="element">

				  		<area shape="rect" coords="141,145,617,548" href="../elements/id-e1df6c3a95704a39a1f66db13450d7be.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-e1df6c3a95704a39a1f66db13450d7be.html" target="element"> Glutes </a> </td>
											    <td> <a href="../elements/id-e1df6c3a95704a39a1f66db13450d7be.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-390a93041b974066b11472d4722f08c1.html" target="element"> Glutes Medius </a> </td>
													    <td> <a href="../elements/id-390a93041b974066b11472d4722f08c1.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2c95c0c77f5649c09dfc342f263194da.html" target="element"> Glutes Maximus </a> </td>
													    <td> <a href="../elements/id-2c95c0c77f5649c09dfc342f263194da.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1beaa989377544399f2b2eb5048f7301.html" target="element"> Glutes Munimus </a> </td>
													    <td> <a href="../elements/id-1beaa989377544399f2b2eb5048f7301.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../views/id-8213cf619daf46d3860ee74fcfb7a22b.html" target="view"> Body </a> </td>
											    <td> <a href="../views/id-8213cf619daf46d3860ee74fcfb7a22b.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-54f5b5391c3b4c82902cdf7710e8345a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-54f5b5391c3b4c82902cdf7710e8345a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e1df6c3a95704a39a1f66db13450d7be.html" target="element"> Glutes </a> </td>
																		<td> <a href="../elements/id-390a93041b974066b11472d4722f08c1.html" target="element"> Glutes Medius </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-75f0ed8ad43740d1a4b35b0cbc6667f2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-75f0ed8ad43740d1a4b35b0cbc6667f2.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e1df6c3a95704a39a1f66db13450d7be.html" target="element"> Glutes </a> </td>
																		<td> <a href="../elements/id-2c95c0c77f5649c09dfc342f263194da.html" target="element"> Glutes Maximus </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-53b7b29eb4ef43328242d709cec54b8d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-53b7b29eb4ef43328242d709cec54b8d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e1df6c3a95704a39a1f66db13450d7be.html" target="element"> Glutes </a> </td>
																		<td> <a href="../elements/id-1beaa989377544399f2b2eb5048f7301.html" target="element"> Glutes Munimus </a> </td>
																	</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>