<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Body</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
	<script type="text/javascript" src="../../js/panelBodyScroller.js"></script>
	<script async src="https://hypothes.is/embed.js"></script>	
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Body</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-8213cf619daf46d3860ee74fcfb7a22b.png" alt="Body" usemap="#id-8213cf619daf46d3860ee74fcfb7a22bmap"/>
			   <map name="id-8213cf619daf46d3860ee74fcfb7a22bmap">
				  								<area shape="rect" coords="124,712,152,739" href="../views/83f0d3c5-5039-4158-a1d7-538321c3beeb.html"  target="view">
				  						    <!-- Other diagram objects -->
				  								<area shape="rect" coords="44,752,125,798" href="../elements/id-f06407d9811042a680ed3b3d6e5f7718.html"  target="element">
				  								<area shape="rect" coords="131,757,208,805" href="../elements/id-5520536adf77434eaeac7fe87b41996b.html"  target="element">

				  						<area shape="rect" coords="36,691,213,827" href="../elements/id-37821a2aeecb4dea8dde473dc54af6df.html"  target="element">
				  						<area shape="rect" coords="28,918,120,970" href="../elements/id-bcf278173d6b448d867d013282b53bd4.html"  target="element">
				  						<area shape="rect" coords="145,843,213,898" href="../elements/id-ee01e0a065c445e38b6ef12e09e97f0a.html"  target="element">
				  						<area shape="rect" coords="119,1101,197,1154" href="../elements/id-ff927aecc92544da97dad2201ae677a4.html"  target="element">

				  				<area shape="rect" coords="16,659,220,1176" href="../elements/id-eba66175265d45a1b46c109747a2bdc6.html"  target="element">
				  						<area shape="rect" coords="110,526,140,552" href="../views/id-4e91ca3e63334246b4440a20db3962c9.html"  target="view">
				  				    <!-- Other diagram objects -->
				  						<area shape="rect" coords="139,545,211,596" href="../elements/id-589f6fc90b424053ae8979c829f09e36.html"  target="element">
				  								<area shape="rect" coords="72,564,97,590" href="../views/id-447998c47cd7423f857f9af4e84bd06b.html"  target="view">
				  						    <!-- Other diagram objects -->

				  						<area shape="rect" coords="24,543,102,598" href="../elements/id-e1df6c3a95704a39a1f66db13450d7be.html"  target="element">

				  				<area shape="rect" coords="13,504,217,637" href="../elements/id-142242885887463d8162640a28dc4ecd.html"  target="element">
				  						<area shape="rect" coords="142,435,204,483" href="../elements/id-bf6f552e39dc4eac88d92f4c3a66c470.html"  target="element">
				  								<area shape="rect" coords="122,318,206,366" href="../elements/id-5ac1d13cd4a44825a8ca51aea47be166.html"  target="element">
				  								<area shape="rect" coords="105,371,181,418" href="../elements/id-61b6bb9801ae403494537a0574c6a9d1.html"  target="element">

				  						<area shape="rect" coords="93,283,212,423" href="../elements/id-b962c1bcdd4a4f15972fafd3cb93ce9c.html"  target="element">
				  								<area shape="rect" coords="36,327,97,373" href="../elements/id-0f1814a44a0e4fa292dd17fc299f8c95.html"  target="element">
				  								<area shape="rect" coords="36,421,97,469" href="../elements/id-1589c9cbbaf74b26b0692a15f007f87a.html"  target="element">

				  						<area shape="rect" coords="24,260,148,476" href="../elements/id-8a47519445b0482886f176887be73553.html"  target="element">

				  				<area shape="rect" coords="10,224,220,493" href="../elements/id-31957b172a3548db9407826cfa7eff0f.html"  target="element">

				          <area shape="rect" coords="10,10,226,1185" href="../objects/id-943e598df53d48968ac03266b60ca312.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td>must replace icons</td><td class="convertlinks no-margin" style="white-space:pre-wrap">no</td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-943e598df53d48968ac03266b60ca312.html" target="element"> Body Vertical </a> </td>
									           <td> <a href="../objects/id-943e598df53d48968ac03266b60ca312.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-31957b172a3548db9407826cfa7eff0f.html" target="element"> Trunk </a> </td>
													    <td> <a href="../elements/id-31957b172a3548db9407826cfa7eff0f.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-8a47519445b0482886f176887be73553.html" target="element"> Back </a> </td>
															    <td> <a href="../elements/id-8a47519445b0482886f176887be73553.html" target="element" class="i18n-elementtype-ApplicationComponent">
															    </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/id-1589c9cbbaf74b26b0692a15f007f87a.html" target="element"> Lower Back </a> </td>
																	    <td> <a href="../elements/id-1589c9cbbaf74b26b0692a15f007f87a.html" target="element" class="i18n-elementtype-ApplicationComponent">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-0f1814a44a0e4fa292dd17fc299f8c95.html" target="element"> Upper Back </a> </td>
																	    <td> <a href="../elements/id-0f1814a44a0e4fa292dd17fc299f8c95.html" target="element" class="i18n-elementtype-ApplicationComponent">
																	    </a> </td>
																	</tr>

															
															<tr>
															    <td> <a href="../elements/id-b962c1bcdd4a4f15972fafd3cb93ce9c.html" target="element"> Rib Cage </a> </td>
															    <td> <a href="../elements/id-b962c1bcdd4a4f15972fafd3cb93ce9c.html" target="element" class="i18n-elementtype-ApplicationComponent">
															    </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/id-61b6bb9801ae403494537a0574c6a9d1.html" target="element"> Ribs Mid Back </a> </td>
																	    <td> <a href="../elements/id-61b6bb9801ae403494537a0574c6a9d1.html" target="element" class="i18n-elementtype-ApplicationComponent">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-5ac1d13cd4a44825a8ca51aea47be166.html" target="element"> Ribs Front Bottom </a> </td>
																	    <td> <a href="../elements/id-5ac1d13cd4a44825a8ca51aea47be166.html" target="element" class="i18n-elementtype-ApplicationComponent">
																	    </a> </td>
																	</tr>

															
															<tr>
															    <td> <a href="../elements/id-bf6f552e39dc4eac88d92f4c3a66c470.html" target="element"> Abdominal </a> </td>
															    <td> <a href="../elements/id-bf6f552e39dc4eac88d92f4c3a66c470.html" target="element" class="i18n-elementtype-ApplicationComponent">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-142242885887463d8162640a28dc4ecd.html" target="element"> Pelvis </a> </td>
													    <td> <a href="../elements/id-142242885887463d8162640a28dc4ecd.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-e1df6c3a95704a39a1f66db13450d7be.html" target="element"> Glutes </a> </td>
															    <td> <a href="../elements/id-e1df6c3a95704a39a1f66db13450d7be.html" target="element" class="i18n-elementtype-ApplicationComponent">
															    </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../views/id-447998c47cd7423f857f9af4e84bd06b.html" target="view"> Glutes </a> </td>
																	    <td> <a href="../views/id-447998c47cd7423f857f9af4e84bd06b.html" target="view" class="i18n-viewpoint-"> </a> </td>
																	</tr>
															    <!-- Other graphical objects -->

															
															<tr>
															    <td> <a href="../elements/id-589f6fc90b424053ae8979c829f09e36.html" target="element"> Pubic Bone </a> </td>
															    <td> <a href="../elements/id-589f6fc90b424053ae8979c829f09e36.html" target="element" class="i18n-elementtype-ApplicationComponent">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../views/id-4e91ca3e63334246b4440a20db3962c9.html" target="view"> Pelvis </a> </td>
															    <td> <a href="../views/id-4e91ca3e63334246b4440a20db3962c9.html" target="view" class="i18n-viewpoint-"> </a> </td>
															</tr>
													    <!-- Other graphical objects -->

													
													<tr>
													    <td> <a href="../elements/id-eba66175265d45a1b46c109747a2bdc6.html" target="element"> Legs </a> </td>
													    <td> <a href="../elements/id-eba66175265d45a1b46c109747a2bdc6.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-ff927aecc92544da97dad2201ae677a4.html" target="element"> Feet </a> </td>
															    <td> <a href="../elements/id-ff927aecc92544da97dad2201ae677a4.html" target="element" class="i18n-elementtype-ApplicationComponent">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-ee01e0a065c445e38b6ef12e09e97f0a.html" target="element"> Knees </a> </td>
															    <td> <a href="../elements/id-ee01e0a065c445e38b6ef12e09e97f0a.html" target="element" class="i18n-elementtype-ApplicationComponent">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-bcf278173d6b448d867d013282b53bd4.html" target="element"> Heels </a> </td>
															    <td> <a href="../elements/id-bcf278173d6b448d867d013282b53bd4.html" target="element" class="i18n-elementtype-ApplicationComponent">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-37821a2aeecb4dea8dde473dc54af6df.html" target="element"> Hips </a> </td>
															    <td> <a href="../elements/id-37821a2aeecb4dea8dde473dc54af6df.html" target="element" class="i18n-elementtype-ApplicationComponent">
															    </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/id-5520536adf77434eaeac7fe87b41996b.html" target="element"> Hips Flexors </a> </td>
																	    <td> <a href="../elements/id-5520536adf77434eaeac7fe87b41996b.html" target="element" class="i18n-elementtype-ApplicationComponent">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-f06407d9811042a680ed3b3d6e5f7718.html" target="element"> Hips Extendors </a> </td>
																	    <td> <a href="../elements/id-f06407d9811042a680ed3b3d6e5f7718.html" target="element" class="i18n-elementtype-ApplicationComponent">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../views/83f0d3c5-5039-4158-a1d7-538321c3beeb.html" target="view"> Hips </a> </td>
																	    <td> <a href="../views/83f0d3c5-5039-4158-a1d7-538321c3beeb.html" target="view" class="i18n-viewpoint-"> </a> </td>
																	</tr>
															    <!-- Other graphical objects -->

															
													
											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/id-41b5441f1fce4d9ca676c4a8d6707b32.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-41b5441f1fce4d9ca676c4a8d6707b32.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-31957b172a3548db9407826cfa7eff0f.html" target="element"> Trunk </a> </td>
																				<td> <a href="../elements/id-bf6f552e39dc4eac88d92f4c3a66c470.html" target="element"> Abdominal </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-82539ffe879f46b5bae717d706154ca9.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-82539ffe879f46b5bae717d706154ca9.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-31957b172a3548db9407826cfa7eff0f.html" target="element"> Trunk </a> </td>
																				<td> <a href="../elements/id-8a47519445b0482886f176887be73553.html" target="element"> Back </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-2a4221247b7b403e917e39ae0663236f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2a4221247b7b403e917e39ae0663236f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-31957b172a3548db9407826cfa7eff0f.html" target="element"> Trunk </a> </td>
																				<td> <a href="../elements/id-b962c1bcdd4a4f15972fafd3cb93ce9c.html" target="element"> Rib Cage </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/id-f2d25e2098194001bb37e82fbdea7639.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-f2d25e2098194001bb37e82fbdea7639.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-8a47519445b0482886f176887be73553.html" target="element"> Back </a> </td>
																						<td> <a href="../elements/id-0f1814a44a0e4fa292dd17fc299f8c95.html" target="element"> Upper Back </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-88a230167b1c4362980cf746f1d998cb.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-88a230167b1c4362980cf746f1d998cb.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-8a47519445b0482886f176887be73553.html" target="element"> Back </a> </td>
																						<td> <a href="../elements/id-1589c9cbbaf74b26b0692a15f007f87a.html" target="element"> Lower Back </a> </td>
																					</tr>

															
																					<tr>
																						<td> <a href="../elements/id-74da1b4aca914bb6bf24176c19014199.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-74da1b4aca914bb6bf24176c19014199.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-b962c1bcdd4a4f15972fafd3cb93ce9c.html" target="element"> Rib Cage </a> </td>
																						<td> <a href="../elements/id-61b6bb9801ae403494537a0574c6a9d1.html" target="element"> Ribs Mid Back </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-c06986493e474a5bb858c00bb4277002.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-c06986493e474a5bb858c00bb4277002.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-b962c1bcdd4a4f15972fafd3cb93ce9c.html" target="element"> Rib Cage </a> </td>
																						<td> <a href="../elements/id-5ac1d13cd4a44825a8ca51aea47be166.html" target="element"> Ribs Front Bottom </a> </td>
																					</tr>

															
													
																			<tr>
																				<td> <a href="../elements/id-8196cc78f41745ae8174a671e15809ee.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-8196cc78f41745ae8174a671e15809ee.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-142242885887463d8162640a28dc4ecd.html" target="element"> Pelvis </a> </td>
																				<td> <a href="../elements/id-589f6fc90b424053ae8979c829f09e36.html" target="element"> Pubic Bone </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-637c60a401c44777971d3e069130379b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-637c60a401c44777971d3e069130379b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-142242885887463d8162640a28dc4ecd.html" target="element"> Pelvis </a> </td>
																				<td> <a href="../elements/id-e1df6c3a95704a39a1f66db13450d7be.html" target="element"> Glutes </a> </td>
																			</tr>

																	<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
															
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													
																			<tr>
																				<td> <a href="../elements/id-1c50f1ca87a04cfb8447c27158a356af.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-1c50f1ca87a04cfb8447c27158a356af.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-eba66175265d45a1b46c109747a2bdc6.html" target="element"> Legs </a> </td>
																				<td> <a href="../elements/id-37821a2aeecb4dea8dde473dc54af6df.html" target="element"> Hips </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-a3255c1e6b584c3e8525e42f0499aa12.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a3255c1e6b584c3e8525e42f0499aa12.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-eba66175265d45a1b46c109747a2bdc6.html" target="element"> Legs </a> </td>
																				<td> <a href="../elements/id-ff927aecc92544da97dad2201ae677a4.html" target="element"> Feet </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-f7ce0a09871c4b45a3ebd61fbe502594.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f7ce0a09871c4b45a3ebd61fbe502594.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-eba66175265d45a1b46c109747a2bdc6.html" target="element"> Legs </a> </td>
																				<td> <a href="../elements/id-bcf278173d6b448d867d013282b53bd4.html" target="element"> Heels </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-79d80168eaf74b9dac7de53a3b14d18f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-79d80168eaf74b9dac7de53a3b14d18f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-eba66175265d45a1b46c109747a2bdc6.html" target="element"> Legs </a> </td>
																				<td> <a href="../elements/id-ee01e0a065c445e38b6ef12e09e97f0a.html" target="element"> Knees </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/id-e1a599dc859c4cba9d109e6cf63eff4d.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-e1a599dc859c4cba9d109e6cf63eff4d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-37821a2aeecb4dea8dde473dc54af6df.html" target="element"> Hips </a> </td>
																						<td> <a href="../elements/id-f06407d9811042a680ed3b3d6e5f7718.html" target="element"> Hips Extendors </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-b5d62dc513574b398567a9d01eca79e8.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-b5d62dc513574b398567a9d01eca79e8.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-37821a2aeecb4dea8dde473dc54af6df.html" target="element"> Hips </a> </td>
																						<td> <a href="../elements/id-5520536adf77434eaeac7fe87b41996b.html" target="element"> Hips Flexors </a> </td>
																					</tr>

																	<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
															
													
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>